---
- name: Gather releases
  setup_yaml:

- name: Install metal-stack-api
  block:
    - name: Install metal-stack-api client library {{ metal_api_version }}
      pip:
        name:
          - metal-stack-api=={{ metal_api_version }}
          - bufbuild-protovalidate-protocolbuffers-python
      environment:
        # to install the bug module we need for now a download from the buf.build index:
        # https://github.com/bufbuild/protovalidate-python/pull/367
        PIP_EXTRA_INDEX_URL: https://buf.build/gen/python

      when: not metal_v2_client_install_from_git_repository | bool

    - name: Install metal-stack-api client library {{ metal_api_version }} from git repository
      pip:
        name: git+https://github.com/metal-stack/api.git@{{ metal_api_version }}#subdirectory=python
      when: metal_v2_client_install_from_git_repository | bool
      environment:
        VERSION: "{{ metal_api_version }}"

  rescue:
    # attempt with latest available client when fitting client is not available
    - name: Install latest metal-stack-api client library (fallback)
      pip:
        name:
          - metal-stack-api
          - bufbuild-protovalidate-protocolbuffers-python
      environment:
        PIP_EXTRA_INDEX_URL: https://buf.build/gen/python
      when: metal_v2_client_install_latest_on_version_error | bool

    - name: Fail on unavailable version
      fail:
        msg: "given metal-stack-api version not found"
      when: not metal_v2_client_install_latest_on_version_error | bool
