---

# Remove these once zitadel-db in release vectore
zitadel_db_image_name: docker.io/library/postgres
zitadel_db_image_tag: 17.6-alpine

zitadel_db_name: zitadel-db
zitadel_db_namespace: "{{ metal_control_plane_namespace }}"

zitadel_db_image_pull_policy: "{{ metal_control_plane_image_pull_policy }}"

zitadel_db_storage_size: 5Gi
zitadel_db_storage_class:
zitadel_db_db: zitadel
zitadel_db_user: postgres
zitadel_db_password: change-me
zitadel_db_max_connections: 100

zitadel_db_backup_restore_sidecar_image_pull_policy: "{{ metal_control_plane_image_pull_policy }}"
zitadel_db_backup_restore_sidecar_provider: local
zitadel_db_backup_restore_sidecar_backup_cron_schedule: "*/3 * * * *"
zitadel_db_backup_restore_sidecar_log_level: debug
zitadel_db_backup_restore_sidecar_object_prefix: "{{ zitadel_db_name }}-{{ metal_control_plane_stage_name }}"
zitadel_db_backup_restore_sidecar_object_max_keep: 480
zitadel_db_backup_restore_sidecar_encryption_key:

zitadel_db_backup_restore_sidecar_gcp_bucket_name:
zitadel_db_backup_restore_sidecar_gcp_backup_location:
zitadel_db_backup_restore_sidecar_gcp_project_id:
zitadel_db_backup_restore_sidecar_gcp_serviceaccount_json:

zitadel_db_backup_restore_sidecar_s3_bucket_name:
zitadel_db_backup_restore_sidecar_s3_region:
zitadel_db_backup_restore_sidecar_s3_endpoint:
zitadel_db_backup_restore_sidecar_s3_access_key:
zitadel_db_backup_restore_sidecar_s3_secret_key:
zitadel_db_backup_restore_sidecar_s3_insecure_skip_verify:
zitadel_db_backup_restore_sidecar_s3_trusted_ca_cert:

zitadel_db_resources:
  requests:
    memory: "128Mi"
    cpu: "20m"
  limits:
    memory: "256Mi"
    cpu: "100m"

zitadel_db_registry_auth_enabled: "{{ metal_registry_auth_enabled }}"
zitadel_db_registry_auth:
  auths:
    https://index.docker.io/v1/:
      username: "{{ metal_registry_auth_user }}"
      password: "{{ metal_registry_auth_password }}"
      auth: "{{ (metal_registry_auth_user + ':' + metal_registry_auth_password) | b64encode }}"
