---
- name: Gather release versions
  setup_yaml:

- name: Create namespace {{ monitoring_namespace }}
  k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ monitoring_namespace }}"
        labels:
          name: "{{ monitoring_namespace }}"

- name: Deploy kube-prometheus-stack
  include_role:
    name: ansible-common/roles/helm-chart
  vars:
    helm_repo: "{{ prometheus_stack_repo }}"
    helm_chart: kube-prometheus-stack
    helm_target_namespace: "{{ monitoring_namespace }}"
    helm_release_name: kube-prometheus-stack
    helm_chart_version: "{{ prometheus_chart_version }}"
    helm_value_file_template: "prometheus-stack-values.yaml"

- name: Deploy metrics exporters
  import_tasks: exporters.yaml

- name: Deploy Grafana dashboards
  k8s:
    definition: "{{ lookup('template', 'grafana-dashboards/' + item) }}"
    namespace: "{{ monitoring_namespace }}"
  loop:
     - machine-capacity.yaml
     - metal-api.yaml
     - alertmanager.yaml

- name: Create service monitors
  k8s:
    definition: "{{ lookup('template', 'servicemonitors/' + item) }}"
    namespace: "{{ monitoring_namespace }}"
  loop:
    - ipam-db.yaml
    - masterdata-api.yaml
    - masterdata-db.yaml
    - metal-api.yaml
    - metal-db.yaml
    - metal-metrics-exporter.yaml
