---
- name: Add ingress certificate for shooted seeds
  k8s:
    definition:
      apiVersion: cert-manager.io/v1
      kind: Certificate
      metadata:
        name: seed-ingress
        namespace: garden
        labels:
          use-clouddns-solver: "true"
      spec:
        dnsNames:
        - "*.{{ gardener_monitoring_certs_ingress_domain }}"
        issuerRef:
          group: cert-manager.io
          kind: ClusterIssuer
          name: "{{ gardener_monitoring_certs_certificate_cluster_issuer }}"
        secretName: seed-ingress-certificate

- name: Wait until ingress secret for shooted seeds is ready
  command: echo
  changed_when: false
  retries: 60
  delay: 10
  until:
    - lookup('k8s', api_version='v1', namespace='garden', kind='Secret', resource_name='seed-ingress-certificate')

- name: Prepare seed ingress certificate secret for shooted seeds
  k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        labels:
          gardener.cloud/role: controlplane-cert
        name: seed-ingress-certificate
        namespace: garden
      type: kubernetes.io/tls

- name:  Loop over shooted seeds
  include_tasks: deploy_shooted_seed.yaml
  loop: "{{ gardener_monitoring_certs_shooted_seeds }}"
  loop_control:
    loop_var: gardener_shooted_seed
    label: "{{ gardener_shooted_seed.name }}"
