---
metal_db_name: metal-db
metal_db_namespace: "{{ metal_control_plane_namespace }}"

metal_db_image_pull_policy: "{{ metal_control_plane_image_pull_policy }}"

metal_db_storage_size: 5Gi
metal_db_storage_class:
metal_db_password: change-me

metal_db_backup_restore_sidecar_image_pull_policy: "{{ metal_control_plane_image_pull_policy }}"
metal_db_backup_restore_sidecar_provider: local
metal_db_backup_restore_sidecar_backup_cron_schedule: "*/3 * * * *"
metal_db_backup_restore_sidecar_log_level: debug

metal_db_backup_restore_sidecar_object_max_keep:

metal_db_backup_restore_sidecar_gcp_bucket_name:
metal_db_backup_restore_sidecar_gcp_backup_location:
metal_db_backup_restore_sidecar_gcp_project_id:
metal_db_backup_restore_sidecar_gcp_serviceaccount_json:

metal_db_expose_frontend: no
metal_db_ingress_dns: rethinkdb.{{ metal_control_plane_ingress_dns }}

metal_db_resources:
  requests:
    memory: "2Gi"
    cpu: "200m"
  limits:
    memory: "4Gi"
    cpu: "500m"

metal_db_registry_auth_enabled: "{{ metal_registry_auth_enabled }}"
metal_db_registry_auth:
  auths:
    docker.io:
      username: "{{ metal_registry_auth_user }}"
      password: "{{ metal_registry_auth_password }}"
      auth: "{{ (metal_registry_auth_user + ':' + metal_registry_auth_password) | b64encode }}"
