---
apiVersion: core.gardener.cloud/v1beta1
kind: ControllerDeployment
metadata:
  name: dns-powerdns
type: helm
providerConfig:
  chart: "{{ (lookup('url', 'https://raw.githubusercontent.com/metal-stack/gardener-extension-dns-powerdns/' + dns_powerdns_repo_ref + '/example/controller-registration.yaml', split_lines=False) | from_yaml_all | list)[0].helm.rawChart }}"
  values:
    image:
      repository: "{{ dns_powerdns_image_name }}"
      tag: "{{ dns_powerdns_image_tag }}"
