image:
  registry:
  repository: "{{ thanos_image_name }}"
  tag: "{{ thanos_image_tag }}"

{% if monitoring_thanos_object_store_config is defined %}
objstoreConfig: |-
  {{ monitoring_thanos_object_store_config | indent(2) }}

compactor:
  enabled: true

storegateway:
  enabled: true

ruler:
  enabled: true

  alertmanagersConfig:
    alertmanagers:
      - http_config:
          basic_auth:
            username: {{ monitoring_alertmanager_ingress_basic_auth_user }}
            password: "{{ monitoring_alertmanager_ingress_basic_auth_password }}"
        static_configs:
          - {{ monitoring_alertmanager_ingress_dns }}
        scheme: https
        timeout: 10s
        api_version: v2

  config: |-
    {{ '{{' }}`
      groups:
        {{ lookup('ansible.builtin.vars', 'partition_prometheus_rules_blackbox_exporter') | indent(width=8, first=false) }}
        {{ lookup('ansible.builtin.vars', 'partition_prometheus_rules_haproxy') | indent(width=8, first=false) }}
        {{ lookup('ansible.builtin.vars', 'partition_prometheus_rules_ipmi') | indent(width=8, first=false) }}
        {{ lookup('ansible.builtin.vars', 'partition_prometheus_rules_leaf') | indent(width=8, first=false) }}
        {{ lookup('ansible.builtin.vars', 'partition_prometheus_rules_node_exporter') | indent(width=8, first=false) }}
        {{ lookup('ansible.builtin.vars', 'partition_prometheus_rules_pixiecore') | indent(width=8, first=false) }}
        {{ lookup('ansible.builtin.vars', 'partition_prometheus_rules_sonic_exporter') | indent(width=8, first=false) }}
    `{{ '}}' }}
{% endif %}

metrics:
  enabled: true
  prometheusRule:
    enabled: true
    default:
      create: true
      sidecar: false
      ## @extra metrics.prometheusRule.default.disabled.ThanosSidecarIsDown Disable ThanosSidecarIsDown rule when metrics.prometheusRule.default.create or metrics.prometheusRule.default.absent_rules is true
  serviceMonitor:
    enabled: true

query:
  dnsDiscovery:
    sidecarsService: kube-prometheus-stack-thanos-discovery
    sidecarsNamespace: "{{ monitoring_namespace }}"

receive:
  enabled: {{ monitoring_thanos_receive_enabled }}
  ingress:
    enabled: {{ monitoring_thanos_receive_ingress_enabled }}
    hostname: {{ monitoring_thanos_receive_ingress_dns }}
    ingressClassName: nginx
{% if monitoring_thanos_receive_ingress_annotations or monitoring_thanos_receive_ingress_basic_auth or monitoring_thanos_receive_ingress_tls %}
    annotations:
{% endif %}
{% if monitoring_thanos_receive_ingress_tls %}
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
{% endif %}
{% if monitoring_thanos_receive_ingress_basic_auth %}
      nginx.ingress.kubernetes.io/auth-type: basic
      nginx.ingress.kubernetes.io/auth-secret: thanos-receive-basic-auth
{% endif %}
{% if monitoring_thanos_receive_ingress_annotations %}
{% for key, value in monitoring_thanos_receive_ingress_annotations.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    tls: {{ monitoring_thanos_receive_ingress_tls }}
  persistence:
    size: {{ monitoring_thanos_receive_size }}

{% if monitoring_thanos_receive_ingress_basic_auth %}
extraDeploy:
- apiVersion: v1
  kind: Secret
  metadata:
    name: thanos-receive-basic-auth
  type: Opaque
  data:
    auth: "{{ monitoring_thanos_receive_ingress_basic_auth | b64encode }}"
{% endif %}
