---
- name: Gather release versions
  setup_yaml:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - metal_db_image_name is defined
      - metal_db_image_tag is defined
      - metal_db_backup_restore_sidecar_image_name is defined
      - metal_db_backup_restore_sidecar_image_tag is defined

- name: Deploy metal db
  include_role:
    name: metal-roles/control-plane/roles/rethinkdb-backup-restore
  vars:
    rethinkdb_name: "{{ metal_db_name }}"
    rethinkdb_namespace: "{{ metal_db_namespace }}"
    rethinkdb_image_pull_policy: "{{ metal_db_image_pull_policy }}"
    rethinkdb_image_name: "{{ metal_db_image_name }}"
    rethinkdb_registry_auth_enabled: "{{ metal_db_registry_auth_enabled }}"
    rethinkdb_registry_auth: "{{ metal_db_registry_auth }}"
    rethinkdb_image_tag: "{{ metal_db_image_tag }}"
    rethinkdb_storage_size: "{{ metal_db_storage_size }}"
    rethinkdb_storage_class: "{{ metal_db_storage_class }}"
    rethinkdb_password: "{{ metal_db_password }}"
    rethinkdb_backup_restore_sidecar_image_pull_policy: "{{ metal_db_backup_restore_sidecar_image_pull_policy }}"
    rethinkdb_backup_restore_sidecar_image_name: "{{ metal_db_backup_restore_sidecar_image_name }}"
    rethinkdb_backup_restore_sidecar_image_tag: "{{ metal_db_backup_restore_sidecar_image_tag }}"
    rethinkdb_backup_restore_sidecar_provider: "{{ metal_db_backup_restore_sidecar_provider }}"
    rethinkdb_backup_restore_sidecar_backup_cron_schedule: "{{ metal_db_backup_restore_sidecar_backup_cron_schedule }}"
    rethinkdb_backup_restore_sidecar_log_level: "{{ metal_db_backup_restore_sidecar_log_level }}"
    rethinkdb_backup_restore_sidecar_gcp_bucket_name: "{{ metal_db_backup_restore_sidecar_gcp_bucket_name }}"
    rethinkdb_backup_restore_sidecar_gcp_backup_location: "{{ metal_db_backup_restore_sidecar_gcp_backup_location }}"
    rethinkdb_backup_restore_sidecar_gcp_project_id: "{{ metal_db_backup_restore_sidecar_gcp_project_id }}"
    rethinkdb_backup_restore_sidecar_gcp_serviceaccount_json: "{{ metal_db_backup_restore_sidecar_gcp_serviceaccount_json }}"
    rethinkdb_backup_restore_sidecar_s3_bucket_name: "{{ metal_db_backup_restore_sidecar_s3_bucket_name }}"
    rethinkdb_backup_restore_sidecar_s3_region: "{{ metal_db_backup_restore_sidecar_s3_region }}"
    rethinkdb_backup_restore_sidecar_s3_endpoint: "{{ metal_db_backup_restore_sidecar_s3_endpoint }}"
    rethinkdb_backup_restore_sidecar_s3_access_key: "{{ metal_db_backup_restore_sidecar_s3_access_key }}"
    rethinkdb_backup_restore_sidecar_s3_secret_key: "{{ metal_db_backup_restore_sidecar_s3_secret_key }}"
    rethinkdb_expose_frontend: "{{ metal_db_expose_frontend }}"
    rethinkdb_ingress_dns: "{{ metal_db_ingress_dns }}"
    rethinkdb_resources: "{{ metal_db_resources }}"
    rethinkdb_backup_restore_sidecar_object_max_keep: "{{ metal_db_backup_restore_sidecar_object_max_keep }}"
    rethinkdb_backup_restore_sidecar_encryption_key: "{{ metal_db_backup_restore_sidecar_encryption_key }}"
