global
  daemon

  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private

  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL). This list is from:
  #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
  # An alternative list with additional directives can be obtained from
  #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
  ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
  ssl-default-bind-options no-sslv3

defaults
  mode	http

  log global
  log stdout format raw daemon

  timeout connect 5000
  timeout client  50000
  timeout server  50000

listen stats
  bind :65534
  option http-use-htx
  http-request use-service prometheus-exporter if { path /metrics }
  mode http
  stats enable
  stats uri /
  stats hide-version
  option dontlog-normal

resolvers pubdns
{% for dns_server in image_cache_external_dns_servers %}
  nameserver {{ dns_server.name }} {{ dns_server.ip }}:53
{% endfor %}

frontend images
  bind :80
  option forwardfor except 127.0.0.1
  option forwardfor header X-Real-IP

{% if image_cache_kernel_cache_enabled %}
  acl has_kernel_path_prefix path_beg {{ image_cache_kernel_route_prefix }}
  use_backend partition_local_kernel_cache if has_kernel_path_prefix
  acl partition_local_kernel_cache_dead nbsrv(partition_local_kernel_cache) eq 0
  use_backend global_kernel_store if partition_local_kernel_cache_dead
{% endif %}

{% if image_cache_boot_image_cache_enabled %}
  acl has_boot_image_path_prefix path_beg {{ image_cache_boot_image_route_prefix }}
  use_backend partition_local_boot_image_cache if has_boot_image_path_prefix
  acl partition_local_boot_image_cache_dead nbsrv(partition_local_boot_image_cache) eq 0
  use_backend global_boot_image_store if partition_local_boot_image_cache_dead
{% endif %}

  acl partition_local_image_cache_dead nbsrv(partition_local_image_cache) eq 0
  use_backend global_image_store if partition_local_image_cache_dead
  default_backend partition_local_image_cache

frontend images_passthrough
  mode tcp
  bind :443

{% if image_cache_kernel_cache_enabled %}
  acl has_kernel_path_prefix path_beg {{ image_cache_kernel_route_prefix }}
  use_backend global_kernel_store_passthrough if has_kernel_path_prefix
{% endif %}
{% if image_cache_boot_image_cache_enabled %}
  acl has_boot_image_path_prefix path_beg {{ image_cache_boot_image_route_prefix }}
  use_backend global_boot_image_store_passthrough if has_boot_image_path_prefix
{% endif %}

  default_backend global_image_store_passthrough

backend global_image_store_passthrough
  mode tcp
  server {{ image_cache_haproxy_fallback_backend_server }} {{ image_cache_haproxy_fallback_backend_server }}:443

{% if image_cache_kernel_cache_enabled %}
backend global_kernel_store_passthrough
  mode tcp
  server {{ image_cache_haproxy_kernel_fallback_backend_server }} {{ image_cache_haproxy_kernel_fallback_backend_server }}:443
{% endif %}

{% if image_cache_boot_image_cache_enabled %}
backend global_boot_image_store_passthrough
  mode tcp
  server {{ image_cache_haproxy_boot_image_fallback_backend_server }} {{ image_cache_haproxy_boot_image_fallback_backend_server }}:443
{% endif %}

backend partition_local_image_cache
  option httpchk
  http-check send meth GET uri /health ver HTTP/1.1 hdr host www
  http-check expect status 200
  balance roundrobin
{% for host in play_hosts %}
  server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['image_cache_internal_ip'] if 'image_cache_internal_ip' in hostvars[host] else hostvars[host]['ansible_host'] }}:{{ image_cache_sync_port }} check {{ 'backup' if inventory_hostname != hostvars[host]['inventory_hostname'] else '' }}
{% endfor %}

{% if image_cache_kernel_cache_enabled %}
backend partition_local_kernel_cache
  option httpchk
  http-check send meth GET uri /health ver HTTP/1.1 hdr host www
  http-check expect status 200
  balance roundrobin
{% for host in play_hosts %}
  server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['image_cache_internal_ip'] if 'image_cache_internal_ip' in hostvars[host] else hostvars[host]['ansible_host'] }}:{{ image_cache_sync_kernel_port }} check {{ 'backup' if inventory_hostname != hostvars[host]['inventory_hostname'] else '' }}
{% endfor %}
{% endif %}

{% if image_cache_boot_image_cache_enabled %}
backend partition_local_boot_image_cache
  option httpchk
  http-check send meth GET uri /health ver HTTP/1.1 hdr host www
  http-check expect status 200
  balance roundrobin
{% for host in play_hosts %}
  server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['image_cache_internal_ip'] if 'image_cache_internal_ip' in hostvars[host] else hostvars[host]['ansible_host'] }}:{{ image_cache_sync_boot_image_port }} check {{ 'backup' if inventory_hostname != hostvars[host]['inventory_hostname'] else '' }}
{% endfor %}
{% endif %}

backend global_image_store
  option httpchk
  http-check send meth GET uri {{ image_cache_haproxy_fallback_backend_server_health_endpoint }} ver HTTP/1.1 hdr host {{ image_cache_haproxy_fallback_backend_server }}
  http-check expect status 200
  balance leastconn
  http-request set-header Host {{ image_cache_haproxy_fallback_backend_server }}
  server {{ image_cache_haproxy_fallback_backend_server }} {{ image_cache_haproxy_fallback_backend_server }}:443 ssl verify required ca-file ca-certificates.crt check inter 30s rise 2 fall 3 resolvers pubdns resolve-prefer ipv4

{% if image_cache_kernel_cache_enabled %}
backend global_kernel_store
  option httpchk
  http-check send meth GET uri {{ image_cache_haproxy_kernel_fallback_backend_server_health_endpoint }} ver HTTP/1.1 hdr host {{ image_cache_haproxy_kernel_fallback_backend_server }}
  http-check expect status 200
  balance leastconn
  http-request set-header Host {{ image_cache_haproxy_kernel_fallback_backend_server }}
  server {{ image_cache_haproxy_kernel_fallback_backend_server }} {{ image_cache_haproxy_kernel_fallback_backend_server }}:443 ssl verify required ca-file ca-certificates.crt check inter 30s rise 2 fall 3 resolvers pubdns resolve-prefer ipv4
{% endif %}

{% if image_cache_boot_image_cache_enabled %}
backend global_boot_image_store
  option httpchk
  http-check send meth GET uri {{ image_cache_haproxy_boot_image_fallback_backend_server_health_endpoint }} ver HTTP/1.1 hdr host {{ image_cache_haproxy_boot_image_fallback_backend_server }}
  http-check expect status 200
  balance leastconn
  http-request set-header Host {{ image_cache_haproxy_boot_image_fallback_backend_server }}
  server {{ image_cache_haproxy_boot_image_fallback_backend_server }} {{ image_cache_haproxy_boot_image_fallback_backend_server }}:443 ssl verify required ca-file ca-certificates.crt check inter 30s rise 2 fall 3 resolvers pubdns resolve-prefer ipv4
{% endif %}
