{% for cache in image_cache_global_image_stores %}
{{ cache }}.        IN  SOA {{ cache }}. {{ cache }}. 2015082541 7200 3600 1209600 3600
{% for server in image_cache_servers %}
{{ cache }}.        IN  A   {{ server.ip }}
{% endfor %}
{% endfor %}
