{
  "iptables": false,
	"ip-forward": false,
	"ip-masq": false,
{% if docker_fluentd_logging_enabled %}
  "log-driver": "fluentd",
  "log-opts": {
       "fluentd-address": "{{ docker_fluentd_endpoint }}",
       "tag": "{{ inventory_hostname }}"
     }
{% else %}
  "log-driver": "syslog"
{% endif %}
}
