---
- name: Gather release versions
  setup_yaml:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: true
    that:
      - postgres_image_name is defined
      - postgres_image_tag is defined
      - postgres_backup_restore_sidecar_image_name is defined
      - postgres_backup_restore_sidecar_image_tag is defined
      - postgres_backup_restore_sidecar_encryption_key is none or postgres_backup_restore_sidecar_encryption_key | length == 32
      - postgres_backup_restore_sidecar_provider in ["local", "gcp", "s3"]

- name: Create namespace
  k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ postgres_namespace }}"
        labels:
          name: "{{ postgres_namespace }}"

- name: Deploy postgres (backup-restore)
  k8s:
    definition: "{{ lookup('template', 'postgres.yaml') }}"
    namespace: "{{ postgres_namespace }}"
    apply: true
