---
zitadel:
  masterkey: {{ zitadel_master_key}}
  secretConfig:
    Database:
      Postgres:
        User:
          Password: {{ zitadel_db_password }}
        Admin:
          Password: {{ zitadel_db_password }}
  configmapConfig:
    FirstInstance:
      InstanceName: {{ zitadel_initial_instance }}
      Org:
        Name: {{ zitadel_initial_org }}
        Human:
          Username: admin
          FirstName: Admin
          LastName: Initial
          NickName:
          DisplayName: admin
          Password: {{ zitadel_admin_password }}
          PasswordChangeRequired: false
    ExternalDomain: {{ zitadel_external_domain }}
    TLS:
      Enabled: false
    Database:
      Postgres:
        Host: {{ zitadel_db_address }}
        Port: 5432
        Database: zitadel
        MaxOpenConns: 20
        MaxIdleConns: 10
        MaxConnLifetime: 30m
        MaxConnIdleTime: 5m
        User:
          Username: postgres
          SSL:
            Mode: disable
        Admin:
          Username: postgres
          SSL:
            Mode: disable
ingress:
  enabled: {{ zitadel_enabled_ingress }}
  className: nginx

  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "GRPC"
{% if zitadel_tls_enabled %}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
{% endif %}
{% for key, value in zitadel_ingress_annotations.items() %}
    {{ key }}: "{{ value }}"
{% endfor %}

{% if zitadel_tls_enabled %}
  tls:
    - hosts:
      - {{ zitadel_ingress_dns }}
      secretName: zitadel-tls
{% endif %}

{% if zitadel_image_tag %}
image:
  tag: {{ zitadel_image_tag }}
{% endif %}

env:
  - name: ZITADEL_API_URL
    value: {{ zitadel_ingress_dns }}

login:
{% if zitadel_image_tag %}
  image:
    tag: {{ zitadel_image_tag }}
{% endif %}
  env:
    - name: ZITADEL_API_URL
      value: {{ zitadel_ingress_dns }}

  ingress:
    enabled: {{ zitadel_enabled_ingress }}
    className: nginx
    annotations:
{% if zitadel_tls_enabled %}
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
{% endif %}
{% for key, value in zitadel_ingress_annotations.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}

{% if zitadel_tls_enabled %}
    tls:
      - hosts:
        - {{ zitadel_ingress_dns }}
        secretName: zitadel-login-tls
{% endif %}

tools:
  kubectl:
    image:
      tag: "{{ zitadel_tools_kubectl_tag }}"
