---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: zitadel-init
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: zitadel-init
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create", "get", "update", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: zitadel-init
subjects:
  - kind: ServiceAccount
    name: zitadel-init
roleRef:
  kind: Role
  name: zitadel-init
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: batch/v1
kind: Job
metadata:
  name: zitadel-init-job
spec:
  backoffLimit: 0
  template:
    spec:
      serviceAccountName: zitadel-init
      restartPolicy: Never
      containers:
        - name: zitadel-init
          image: "{{ zitadel_init_image }}:{{ zitadel_init_image_tag }}"
          imagePullPolicy: "{{ zitadel_image_pull_policy }}"
          args:
            - "zitadel-init"
            - "--zitadel-endpoint={{ zitadel_endpoint }}"
            - "--zitadel-external-domain={{ zitadel_external_domain }}"
            - "--zitadel-port={{ zitadel_port }}"
            - "--zitadel-pat=$(ZITADEL_PAT)"
            - "--namespace={{ zitadel_namespace }}"
            - "--secret=zitadel-client-credentials"
            - "--zitadel-skip-verify-tls={{ zitadel_skip_verify_tls }}"
            - "--zitadel-insecure={{ zitadel_insecure }}"
            - "--config-path=/zitadel/config.yaml"
          env:
            - name: ZITADEL_PAT
              valueFrom:
                secretKeyRef:
                  name: iam-admin-pat
                  key: pat
          volumeMounts:
            - name: config
              mountPath: /zitadel
      volumes:
        - name: config
          secret:
            secretName: zitadel-init-config
