---
- name: update cumulus repo key
  ansible.builtin.apt_key:
  url: http://repo3.cumulusnetworks.com/public-key/repo3-2023-key
  state: present

- name: ensure dependencies are installed
  apt:
    update_cache: yes
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg2
  when: ansible_distribution_major_version == "3"

- name: setup key for docker
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    id: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88

- name: add docker engine repo for debian jessie
  apt_repository:
    repo: 'deb [arch=amd64] https://download.docker.com/linux/debian jessie edge'
    update_cache: yes
  when: ansible_distribution_major_version == "3"

- name: add docker engine repo for debian buster
  apt_repository:
    repo: 'deb [arch=amd64] https://download.docker.com/linux/debian buster stable'
    update_cache: yes
  when: ansible_distribution_major_version == "4"

- name: install docker
  apt:
    name: docker-ce
    force_apt_get: yes

- name: add docker as systemd service which can run in a vrf
  lineinfile:
    path: /etc/vrf/systemd.conf
    regexp: '^docker$'
    line: 'docker'

- name: ensure /etc/docker directory
  file:
    path: /etc/docker
    state: directory

- name: template daemon.json
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json

- name: create override directory to systemd
  file:
    path: /etc/systemd/system/docker.service.d/
    state: directory

- name: override systemd service startup
  template:
    src: docker-no-socket-mgmt-vrf.conf.j2
    dest: /etc/systemd/system/docker.service.d/docker-no-socket-mgmt-vrf.conf

- name: enable and start docker.service
  systemd:
    state: started
    enabled: true
    daemon_reload: yes
    name: docker

- name: create docker-system-prune.service
  copy:
    src: docker-system-prune.service
    dest: /etc/systemd/system/docker-system-prune.service
    owner: root
    group: root
    mode: "0644"

- name: create docker-system-prune.timer
  copy:
    src: docker-system-prune.timer
    dest: /etc/systemd/system/docker-system-prune.timer
    owner: root
    group: root
    mode: "0644"

- name: docker-system-prune.timer must be enabled and running
  systemd:
    name: docker-system-prune.timer
    enabled: yes
    state: started
