server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/log/promtail-positions.yaml

clients:
  - url: {{ promtail_loki_push_endpoint }}
    timeout: 60s
    basic_auth:
      username: {{ promtail_loki_basic_auth_username }}
      password: {{ promtail_loki_basic_auth_password }}

scrape_configs:
{{ promtail_scrape_configs|to_yaml(indent=2) }}
