{% for k, i in sonic_interconnects.items() %}
{% if i.vrf is defined %}
!
router bgp {{ sonic_asn }} vrf {{ i.vrf }}
 bgp router-id {{ sonic_loopback_address }}
 bgp bestpath as-path multipath-relax
 neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} peer-group
 neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} remote-as external
 neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} timers {{ i.bgp_timers | default(sonic_interconnects_default_bgp_timers) }}
 {% if i.bfd_parameters is defined %}
 neighbor {{ i.peer_group }} bfd {{ i.bfd_parameters }}
 {% endif %}
 {% if i.neighbor_ip is defined %}
 neighbor {{ i.neighbor_ip }} peer-group {{ i.peer_group | default(sonic_interconnects_default_peer_group) }}
 {% if i.bgp_md5_password is defined %}
 neighbor {{ i.neighbor_ip }} password {{ i.bgp_md5_password }}
 {% endif %}
 {% endif %}
 {% for n in i.neighbors|default([]) %}
 neighbor {{ n }} peer-group {{ i.peer_group | default(sonic_interconnects_default_peer_group) }}
 {% endfor %}
 {% for n in i.unnumbered_interfaces|default([]) %}
 neighbor {{ n }} interface peer-group {{ i.peer_group | default(sonic_interconnects_default_peer_group) }}
 {% endfor %}
 !
 address-family ipv4 unicast
    {% if i.announcements is defined %}
    {% for a in i.announcements %}
  {{ a }}
    {% endfor %}
    {% endif %}
  neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} remove-private-AS all
    {% if i.routemap_in is defined %}
  neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} route-map {{ i.routemap_in.name }} in
    {% endif %}
    {% if i.routemap_out is defined %}
  neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} route-map {{ i.routemap_out.name }} out
    {% endif %}
 exit-address-family
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
 exit-address-family
{% endif %}
{% endfor %}
{% for k, i in sonic_interconnects.items() %}
{% if i.prefixlists is defined %}
!
{% for p in i.prefixlists %}
{{ p }}
{% endfor %}
{% endif %}
{% if i.routemap_in is defined %}
!
route-map {{ i.routemap_in.name }} permit 10
{% for e in i.routemap_in.entries %}
 {{ e }}
{% endfor %}
{% endif %}
{% if i.routemap_out is defined %}
!
route-map {{ i.routemap_out.name }} permit 20
{% for e in i.routemap_out.entries %}
 {{ e }}
{% endfor %}
{% endif %}
{% endfor %}