Host mgmtfw01
        User root
        HostName mgmtfw01
        IdentityFile ~/.ssh/id_rsa
Host mgmtfw02
        User root
        HostName mgmtfw02
        IdentityFile ~/.ssh/id_rsa
Host mgmtserver01
        User metal
        HostName mgmtserver01
        IdentityFile ~/.ssh/id_rsa
Host mgmtserver02
        User metal
        HostName mgmtserver02
        IdentityFile ~/.ssh/id_rsa
Host *
        User admin
