---
monitoring_namespace: monitoring
monitoring_grafana_admin_password: admin
monitoring_grafana_dashboard_timezone: Europe/Berlin
monitoring_grafana_additional_datasources:
  - name: Loki
    type: loki
    url: http://loki:3100/
    access: proxy
    orgId: 1
    version: 1
    isDefault: false
    jsonData:
      maxLines: 1000

monitoring_grafana_ingress_dns: "grafana.{{ metal_control_plane_ingress_dns }}"
monitoring_prometheus_ingress_dns: prometheus.{{ metal_control_plane_ingress_dns }}
monitoring_ingress_grafana_tls: yes
monitoring_prometheus_ingress_enabled: false
monitoring_additional_ingress_annotations: {}

# metal metrics exporter
monitoring_metal_api_url: "http://metal-api.metal-control-plane.svc:8080/metal"
monitoring_metal_api_hmac: "metal-admin"

# rethinkdb exporter
monitoring_rethinkdb_exporter_metal_db_password: "change-me"
monitoring_rethinkdb_exporter_metal_db_endpoint: metal-db.metal-control-plane:28015
