{# jinja2: lstrip_blocks: "False", trim_blocks: "False" #}
{
    "ipv4":[
{% for rule in ztp_sonic_extended_cacl.ipv4|default([]) %}
        "{{ rule }}"{% if not loop.last %},{% endif +%}
{% endfor %}
    ],
    "ipv6":[
{% for rule in ztp_sonic_extended_cacl.ipv6|default([]) %}
        "{{ rule }}"{% if not loop.last %},{% endif +%}
{% endfor %}
    ]
}
