{
  "ztp": {
    "01-user": {
      "plugin": {
        "url": "http://{{ ztp_listen_address }}:{{ ztp_port }}/user.sh"
      }
    },
    "02-download": {
      "files": [
        {
          "url": {
            "source": "http://{{ ztp_listen_address }}:{{ ztp_port }}/frr.conf",
            "destination": "/etc/sonic/frr/frr.conf"
          }
        }
      ]
    },
    "03-configdb-json": {
      "url": {
        "source": "http://{{ ztp_listen_address }}:{{ ztp_port }}/config_db.json",
        "destination": "/etc/sonic/config_db.json"
      },
      "clear-config": true,
      "reboot-on-success": true
    }
  }
}
