{
  "ztp": {
    "02-user": {
      "plugin": {
        "url": "http://{{ ansible_host }}:{{ ztp_port }}/ztp.sh"
      }
    },
    "03-configdb-json": {
      "url": {
        "source": "http://{{ ansible_host }}:{{ ztp_port }}/config_db.json"
      },
      "clear-config": false
    }
  }
}
