{
  "ztp": {
    "01-user": {
      "plugin": {
        "url": "http://{{ ztp_listen_address }}:{{ ztp_port }}/user.sh"
      }
    },
    "02-download": {
      "files": [
        {
          "url": {
            "source": "http://{{ ztp_listen_address }}:{{ ztp_port }}/frr.conf",
            "destination": "/etc/sonic/frr/frr.conf"
          }
        }
      ]
    },
    "03-provisioning-script": {
      "plugin": {
        "url": "http://{{ ztp_listen_address }}:{{ ztp_port }}/ztp-provisioning-script.sh"
      },
      "shell": true
    },
    "reboot-on-success": true
  }
}
