events {
}

error_log /dev/stdout info;

stream {
    server {
        listen {{ grpc_proxy_port }};
        proxy_connect_timeout 5s;
        proxy_pass {{ metal_partition_mgmt_gateway }}:{{ metal_api_grpc_port }};
    }
}
