global
    log stdout format raw local0

defaults
    mode http
    log global
    option dontlognull
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    timeout tunnel 3600s

listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    option dontlog-normal

frontend ft_proxy
    bind *:443 ssl crt-list /usr/local/etc/haproxy/crt-list.cfg alpn h2,http/1.1

{% for conf in gardener_shooted_seed.proxy_servers %}
    use_backend bk_{{ conf.name }} if { ssl_fc_sni -i {{ conf.ingress_domain }} }
{% endfor %}

{% for conf in gardener_shooted_seed.proxy_servers %}
backend bk_{{ conf.name }}
    balance roundrobin
{% for addr in conf.addresses %}
{% if conf.type == 'grpcs' %}
    server {{ conf.name }}-{{ loop.index }} {{ addr }} ssl verify none alpn h2 check
{% elif conf.type == 'https' %}
    server {{ conf.name }}-{{ loop.index }} {{ addr }} ssl verify none check
{% elif conf.type == 'http' %}
    server {{ conf.name }}-{{ loop.index }} {{ addr }} check
{% endif %}
{% endfor %}

{% endfor %}
