---
postgres_name: postgres
postgres_namespace: "{{ metal_control_plane_namespace }}"

postgres_image_pull_policy: "{{ metal_control_plane_image_pull_policy }}"

postgres_storage_size: 5Gi
postgres_storage_class:
postgres_db: postgres
postgres_user: postgres
postgres_password: change-me
postgres_max_connections: 100
postgres_shared_libraries_preload:
  - pg_stat_statements
postgres_shared_buffers:
postgres_maintenance_work_mem:
postgres_work_mem:
postgres_effective_cache_size:

postgres_backup_restore_sidecar_image_pull_policy: "{{ metal_control_plane_image_pull_policy }}"
postgres_backup_restore_sidecar_provider: local
postgres_backup_restore_sidecar_backup_cron_schedule: "*/3 * * * *"
postgres_backup_restore_sidecar_log_level: debug
postgres_backup_restore_sidecar_object_prefix: "{{ postgres_name }}-{{ metal_control_plane_stage_name }}"
postgres_backup_restore_sidecar_object_max_keep: 480
postgres_backup_restore_sidecar_encryption_key:

postgres_backup_restore_sidecar_gcp_bucket_name:
postgres_backup_restore_sidecar_gcp_backup_location:
postgres_backup_restore_sidecar_gcp_project_id:
postgres_backup_restore_sidecar_gcp_serviceaccount_json:

postgres_backup_restore_sidecar_s3_bucket_name:
postgres_backup_restore_sidecar_s3_region:
postgres_backup_restore_sidecar_s3_endpoint:
postgres_backup_restore_sidecar_s3_access_key:
postgres_backup_restore_sidecar_s3_secret_key:
postgres_backup_restore_sidecar_s3_insecure_skip_verify:
postgres_backup_restore_sidecar_s3_trusted_ca_cert:

postgres_resources:
  requests:
    memory: "128Mi"
    cpu: "20m"
  limits:
    memory: "256Mi"
    cpu: "100m"
postgres_backup_restore_sidecar_resources:
#  requests:
#    cpu: "100m"       
#    memory: "256Mi"
#  limits:
#    cpu: "600m"
#    memory: "512Mi"

postgres_registry_auth_enabled: "{{ metal_registry_auth_enabled }}"
postgres_registry_auth:
  auths:
    "{{ metal_registry_url }}":
      username: "{{ metal_registry_auth_user }}"
      password: "{{ metal_registry_auth_password }}"
      auth: "{{ (metal_registry_auth_user + ':' + metal_registry_auth_password) | b64encode }}"

postgres_enable_security_context: false

postgres_sts_security_context:
#  fsGroup: 1
#  fsGroupChangePolicy: "OnRootMismatch"
#  runAsUser: 1001
#  runAsNonRoot: true
#  runAsGroup: 1

postgres_container_security_context:
#  allowPrivilegeEscalation: false
#  capabilities:
#    drop: ["ALL"]
