---
gardener_cloud_profile_garden_name: "{{ gardener_defaults_garden_name }}"
gardener_cloud_profile_wait_until_available: true

gardener_cloud_profile_stage_name: "{{ metal_control_plane_stage_name }}"
gardener_cloud_profile_metal_api_url: https://api.{{ metal_control_plane_ingress_dns }}
gardener_cloud_profile_machine_images: "{{ metal_api_images | default([]) }}"
gardener_cloud_profile_firewall_images: []
gardener_cloud_profile_firewall_images_from_machine_images: true
gardener_cloud_profile_firewall_controller_versions: []
gardener_cloud_profile_kubernetes:
gardener_cloud_profile_machine_types: []
gardener_cloud_profile_regions:
gardener_cloud_profile_partitions: {}
  # <partition>:
  #   default-machine-types:
  #     firewall:
  #       - c1-xlarge-x86

gardener_cloud_profile_os_cri_mapping:
  ubuntu:
    when:
    cris:
      - name: containerd
        containerRuntimes: []
  debian:
    when:
    cris:
      - name: containerd
        containerRuntimes: []

gardener_cloud_profile_os_compatibility_mapping: {}
  # ubuntu:
  #   when:
  #     operator: "<"
  #     version: "24.04.20250225"
  #     except:
  #       - "24.04"
  #   kubelet: "<= 1.30"
  # debian:
  #   when:
  #     operator: "<"
  #     version: "12.0.20250225"
  #     except:
  #       - "12.0"
  #   kubelet: "<= 1.30"
