---
- name: Get kubeconfig for virtual garden access
  virtual_garden_kubeconfig:
    garden_name: "{{ gardener_projects_garden_name }}"

# - name: Label garden namespace for project
#   kubernetes.core.k8s:
#     api_version: v1
#     kind: Namespace
#     name: garden
#     state: present
#     definition:
#       metadata:
#         labels:
#           gardener.cloud/role: project
#           project.gardener.cloud/name: "{{ gardener_projects[0].name }}"


- name: Loop over projects
  include_tasks: project.yaml
  loop: "{{ gardener_projects }}"
  loop_control:
    loop_var: _gardener_project
    label: "{{ _gardener_project.name }}"
  vars:
    _config: "{{ gardener_project_defaults | ansible.builtin.combine(_gardener_project, recursive=true) }}"
