[Unit]
Description=Save and reload ConfigDB

[Service]
Type=oneshot
ExecStartPre=/usr/local/bin/config save -y
ExecStart=/usr/local/bin/frr-reload.py /etc/sonic/frr/frr.conf --reload --confdir /etc/sonic/frr --debug --rundir /etc/sonic/frr/
StandardOutput=journal

[Install]
WantedBy=multi-user.target