# indicate that the DHCP server should send DHCPNAK messages to misconfigured client
authoritative;

default-lease-time {{ dhcp_default_lease_time }};
max-lease-time {{ dhcp_max_lease_time }};

log-facility local7;

{% for subnet in dhcp_subnets %}
{% if subnet.comment | default("") %}
# {{ subnet.comment }}
{% endif %}
subnet {{ subnet.network }} netmask {{ subnet.netmask }} {
{% if subnet.range is defined %}
  range {{ subnet.range.begin }} {{ subnet.range.end }};
{% endif %}
{% for option in subnet.options | default([]) %}
  option {{ option }};
{% endfor %}
{% for deny in subnet.deny_list | default([]) %}
  deny {{ deny }};
{% endfor %}
}
{% endfor %}

{% for option in dhcp_global_options %}
option {{ option }};
{% endfor %}
{% for deny in dhcp_global_deny_list %}
  deny {{ deny }};
{% endfor %}

{% if dhcp_static_hosts is defined %}
include "/etc/dhcp/dhcpd.hosts";
{% endif %}
