---
- name: Gather release versions
  setup_yaml:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: true
    that:
      - nsq_image_name is defined
      - nsq_image_tag is defined

- name: Create namespace
  k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ nsq_namespace }}"
        labels:
          name: "{{ nsq_namespace }}"

- name: Deploy nsq
  k8s:
    definition: "{{ lookup('template', 'nsq.yaml') }}"
    namespace: "{{ nsq_namespace }}"
