---
- name: Gather release versions
  setup_release:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - rethinkdb_image_name is defined
      - rethinkdb_image_tag is defined
      - rethinkdb_backup_restore_sidecar_image_name is defined
      - rethinkdb_backup_restore_sidecar_image_tag is defined

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - rethinkdb_backup_restore_sidecar_image_tag is defined

- name: Deploy rethinkdb (backup-restore)
  k8s:
    definition: "{{ lookup('template', 'rethinkdb.yaml') }}"
    namespace: "{{ rethinkdb_namespace }}"
