#jinja2: lstrip_blocks: "True", trim_blocks: "True"
frr defaults datacenter
hostname {{ inventory_hostname }}
!
service integrated-vtysh-config
!
log syslog {{ sonic_frr_syslog_level }}
{% if sonic_frr_debug_options is defined %}
{% for option in sonic_frr_debug_options %}
{{ option }}
{% endfor %}
{% endif %}
{% for k, i in sonic_interconnects.items() %}
!
vrf {{ i.vrf }}
 vni {{ i.vni }}
{% endfor %}
{% for port in sonic_bgp_ports %}
!
interface {{ port }}
 ipv6 nd ra-interval 6
 no ipv6 nd suppress-ra
{% endfor %}
!
router bgp {{ sonic_asn }}
 bgp router-id {{ sonic_loopback_address }}
 bgp bestpath as-path multipath-relax
 neighbor FABRIC peer-group
 neighbor FABRIC remote-as external
 neighbor FABRIC timers 1 3
{% for port in sonic_bgp_ports %}
 neighbor {{ port }} interface peer-group FABRIC
{% endfor %}
 !
 address-family ipv4 unicast
  redistribute connected route-map {{ sonic_frr_route_map.name | default("DENY_MGMT") }}
{% if sonic_frr_static_routes|length > 0 %}
  redistribute static
{% endif %}
 exit-address-family
{% if sonic_frr_l2vpn_evpn %}
 !
 address-family l2vpn evpn
{% if sonic_vteps is defined and sonic_vteps|length > 0 %}
  advertise-all-vni
{% endif %}
  neighbor FABRIC activate
  neighbor FABRIC allowas-in 2
 exit-address-family
{% endif %}
{% for k, i in sonic_interconnects.items() %}
!
router bgp {{ sonic_asn }} vrf {{ i.vrf }}
 bgp router-id {{ sonic_loopback_address }}
 bgp bestpath as-path multipath-relax
 neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} peer-group
 neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} remote-as external
 neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} timers {{ i.bgp_timers | default(sonic_interconnects_default_bgp_timers) }}
 {% if i.bfd_parameters is defined %}
 neighbor {{ i.peer_group }} bfd {{ i.bfd_parameters }}
 {% endif %}
 {% if i.neighbor_ip is defined %}
 neighbor {{ i.neighbor_ip }} peer-group {{ i.peer_group | default(sonic_interconnects_default_peer_group) }}
 {% if i.bgp_md5_password is defined %}
 neighbor {{ i.neighbor_ip }} password {{ i.bgp_md5_password }}
 {% endif %}
 {% endif %}
 {% for n in i.neighbors|default([]) %}
 neighbor {{ n }} peer-group {{ i.peer_group | default(sonic_interconnects_default_peer_group) }}
 {% endfor %}
 !
 address-family ipv4 unicast
    {% if i.announcements is defined %}
    {% for a in i.announcements %}
  {{ a }}
    {% endfor %}
    {% endif %}
  neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} remove-private-AS all
    {% if i.routemap_in is defined %}
  neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} route-map {{ i.routemap_in.name }} in
    {% endif %}
    {% if i.routemap_out is defined %}
  neighbor {{ i.peer_group | default(sonic_interconnects_default_peer_group) }} route-map {{ i.routemap_out.name }} out
    {% endif %}
 exit-address-family
 !
 address-family l2vpn evpn
  advertise ipv4 unicast
 exit-address-family
{% endfor %}
{% for k, i in sonic_interconnects.items() %}
{% if i.prefixlists is defined %}
!
{% for p in i.prefixlists %}
{{ p }}
{% endfor %}
{% endif %}
{% if i.routemap_in is defined %}
!
route-map {{ i.routemap_in.name }} permit 10
{% for e in i.routemap_in.entries %}
 {{ e }}
{% endfor %}
{% endif %}
{% if i.routemap_out is defined %}
!
route-map {{ i.routemap_out.name }} permit 20
{% for e in i.routemap_out.entries %}
 {{ e }}
{% endfor %}
{% endif %}
{% endfor %}
{% if sonic_frr_route_map is defined %}
!
route-map {{ sonic_frr_route_map.name }} permit 10
  match {{ sonic_frr_route_map.match }}
{% else %}
!
route-map DENY_MGMT deny 10
  match interface eth0
route-map DENY_MGMT permit 20
{% endif %}
{% if sonic_frr_static_routes_mgmt is defined and sonic_frr_static_routes_mgmt|length > 0 %}
!
vrf mgmt
 {% for route in sonic_frr_static_routes_mgmt %}
 ip route {{ route }}
 {% endfor %}
exit-vrf
{% endif %}
{% if sonic_frr_static_routes|length > 0 %}
!
{% for route in sonic_frr_static_routes %}
ip route {{ route }}
{% endfor %}
{% endif %}
!
line vty
!