#jinja2: lstrip_blocks: "False", trim_blocks: "False"
---
DEVICE_METADATA:
  localhost:
    docker_routing_config_mode: split
    hostname: "{{ inventory_hostname }}"

FEATURE:
  dhcp_relay:
    auto_restart: enabled
    state: enabled

NTP:
  global:
    src_intf: "eth0"

NTP_SERVER:
  {% for ntpserver in sonic_ntpservers %}
  {{ ntpserver }}: {}
  {% endfor %}

LOOPBACK_INTERFACE:
  Loopback0: {}
  Loopback0|{{ sonic_loopback_address }}/32: {}

MGMT_VRF_CONFIG:
  vrf_global:
    mgmtVrfEnabled: "{{ sonic_mgmt_vrf | lower }}"
{% if sonic_ports|length > 0 %}

INTERFACE:
  {% for port in sonic_ports %}
  {% if port.name in sonic_bgp_ports|default([]) or port.vrf is defined %}
  {{ port.name }}:
    {% if port.name in sonic_bgp_ports|default([]) %}
    ipv6_use_link_local_only: enable
    {% endif %}
    {% if port.vrf is defined %}
    vrf_name: "{{ port.vrf }}"
    {% endif %}
  {% endif %}
  {% for ip in port.ips|default([]) %}
  {{ port.name }}|{{ ip }}: {}
  {% endfor %}
  {% endfor %}
{% endif %}
{% if sonic_ports|length > 0 %}

PORT:
  {% for port in sonic_ports %}
  {{ port.name }}:
    admin_status: up
    speed: "{{ port.speed|default(sonic_ports_default_speed) }}"
    mtu: "{{ port.mtu|default(sonic_ports_default_mtu) }}"
    fec: "{{ port.fec|default(sonic_ports_default_fec)|string|lower }}"
  {% endfor %}
{% endif %}
{% if sonic_vlans is defined and sonic_vlans|length > 0 %}

VLAN:
  {% for vlan in sonic_vlans %}
  Vlan{{ vlan.id }}:
    {% if vlan.dhcp_servers is defined and vlan.dhcp_servers|length > 0 %}
    dhcp_servers: {{ vlan.dhcp_servers }}
    {% endif %}
    vlanid: {{ vlan.id }}
  {% endfor %}

VLAN_INTERFACE:
  {% for vlan in sonic_vlans %}
  {% if vlan.vrf is defined %}
  Vlan{{ vlan.id }}:
    vrf_name: "{{ vlan.vrf }}"
  {% else %}
  Vlan{{ vlan.id }}: {}
  {% endif %}
  {% if vlan.ip is defined %}
  Vlan{{ vlan.id }}|{{ vlan.ip }}: {}
  {% endif %}
  {% endfor %}

VLAN_MEMBER:
  {% for vlan in sonic_vlans %}
  {% for untagged_port in vlan.untagged_ports|default([]) %}
  Vlan{{ vlan.id }}|{{ untagged_port }}:
      tagging_mode: untagged
  {% endfor %}
  {% endfor %}
{% endif %}
{% if sonic_vteps is defined and sonic_vteps|length > 0 %}

VXLAN_EVPN_NVO:
  nvo:
    source_vtep: vtep

VXLAN_TUNNEL:
  vtep:
    src_ip: "{{ sonic_loopback_address }}"

VXLAN_TUNNEL_MAP:
{% for vtep in sonic_vteps %}
  {% if vtep.comment is defined %}
  # {{ vtep.comment }}
  {% endif %}
  "vtep|map_{{ vtep.vni }}_{{ vtep.vlan }}":
    vlan: "{{ vtep.vlan }}"
    vni: "{{ vtep.vni }}"
{% endfor %}
{% endif %}
{% if sonic_interconnects is defined and sonic_interconnects|length > 0 %}

VRF:
{% for k, i in sonic_interconnects.items() %}
  {% if i.vni is defined %}
  {{ i.vrf }}:
    vni: "{{ i.vni }}"
  {% else %}
  {{ i.vrf }}: {}
  {% endif %}
{% endfor %}
{% endif %}
{% if sonic_lldp_hello_timer is defined %}

LLDP:
  Global:
    hello_timer: {{ sonic_lldp_hello_timer }}
{% endif %}
