[Unit]
Description=Remove neighbors from file %I

[Service]
Type=oneshot
ExecStart=/usr/local/bin/remove-neighbors.py {{sonic_asn}} %I
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
