bgp_ports: {{ sonic_bgp_ports }}
breakouts: {{ sonic_breakouts }}
docker_routing_config_mode: {{ sonic_docker_routing_config_mode }}
features: {{ sonic_features }}
frr_mgmt_framework_config: {{ sonic_frr_mgmt_framework_config }}
interconnects: {{ sonic_interconnects }}
hostname: {{ sonic_hostname }}
lldp_hello_time: {{ sonic_lldp_hello_timer }}
loopback_address: {{ sonic_loopback_address }}
mclag: {{ sonic_mclag }}
mgmt_interface:
  gateway_address: {{ sonic_mgmtif_gateway | default('') }}
  ip: {{ sonic_mgmtif_ip | default('') }}
mgmt_vrf: {{ sonic_mgmt_vrf }}
nameservers: {{ sonic_nameservers }}
ntp:
  src_interface: {{ sonic_ntp.src_interface | default('') }}
  servers: {{ sonic_ntpservers }}
  vrf: {{ sonic_ntp.vrf | default('') }}
portchannels:
  default_mtu: {{ sonic_portchannels_default_mtu }}
  list: {{ sonic_portchannels }}
ports:
  default_fec: {{ sonic_ports_default_fec }}
  default_mtu: {{ sonic_ports_default_mtu }}
  list: {{ sonic_ports }}
sag: {{ sonic_sag }}
ssh_sourceranges: {{ sonic_ssh_sourceranges | default([]) }}
vlans: {{ sonic_vlans }}
vlan_members: {{ sonic_vlan_members }}
vteps: {{ sonic_vteps }}
