---
- name: Set CIDRs from shoot-info ConfigMap
  set_fact:
    _gardener_gardenlet_node_cidr: "{{ lookup('k8s', api_version='v1', kind='ConfigMap', namespace='kube-system', resource_name='shoot-info').data.nodeNetwork }}"
    _gardener_gardenlet_pod_cidr: "{{ lookup('k8s', api_version='v1', kind='ConfigMap', namespace='kube-system', resource_name='shoot-info').data.podNetwork }}"
    _gardener_gardenlet_service_cidr: "{{ lookup('k8s', api_version='v1', kind='ConfigMap', namespace='kube-system', resource_name='shoot-info').data.serviceNetwork }}"

- name: Create backup infrastructure secret
  k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: backup-secret-{{ _gardenlet.name }}
        namespace: garden
      type: Opaque
      data: "{{ _gardenlet.backup_infrastructure_secret }}"
    kubeconfig: "{{ virtual_garden_kubeconfig }}"
    apply: yes
  when: _gardenlet.backup_infrastructure_secret

- name: Deploy Gardenlet
  k8s:
    kubeconfig: "{{ virtual_garden_kubeconfig }}"
    definition: "{{ lookup('template', 'gardenlet.yaml') }}"
    apply: true
  vars:
    _config: "{{ gardener_gardenlet_defaults | ansible.builtin.combine(_gardenlet, recursive=true) }}"
