---
- name: Set cidrs from garden
  set_fact:
    _gardener_gardenlet_node_cidr: "{{ lookup('k8s', api_version='operator.gardener.cloud/v1alpha1', kind='Garden', resource_name=gardener_gardenlet_garden_name).spec.runtimeCluster.networking.nodes[0]
      }}"
    _gardener_gardenlet_pod_cidr: "{{ lookup('k8s', api_version='operator.gardener.cloud/v1alpha1', kind='Garden', resource_name=gardener_gardenlet_garden_name).spec.runtimeCluster.networking.pods[0]
      }}"
    _gardener_gardenlet_service_cidr: "{{ lookup('k8s', api_version='operator.gardener.cloud/v1alpha1', kind='Garden', resource_name=gardener_gardenlet_garden_name).spec.runtimeCluster.networking.services[0]
      }}"

- name: Create backup infrastructure secret
  k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: backup-secret-{{ _gardenlet.name }}
        namespace: garden
      type: Opaque
      data: "{{ _gardenlet.backup_infrastructure_secret }}"
    kubeconfig: "{{ virtual_garden_kubeconfig }}"
    apply: true
  when: _gardenlet.backup_infrastructure_secret

- name: Deploy Gardenlet
  k8s:
    kubeconfig: "{{ virtual_garden_kubeconfig }}"
    definition: "{{ lookup('template', 'gardenlet.yaml') }}"
    apply: true
  vars:
    _config: "{{ gardener_gardenlet_defaults | ansible.builtin.combine(_gardenlet, recursive=true) }}"
