---
- name: Gather release versions
  setup_yaml:

- name: Gather switch facts
  switch_facts:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - metal_core_image_name is defined
      - metal_core_image_tag is defined
      - metal_core_rack_id is not none

- name: Set service dependency
  set_fact:
    metal_core_service_dependency: "{{ 'database.service' if metal_stack_switch_os_is_sonic else 'docker.service' }}"

- name: create gRPC certs directory
  file:
    path: "{{ metal_core_grpc_cert_dir }}"
    state: directory

- name: copy gRPC certificates
  copy:
    dest: "{{ metal_core_grpc_cert_dir }}/{{ item.filename }}"
    mode: 0640
    content: "{{ item.content }}"
  no_log: true
  loop:
    - filename: ca.pem
      content: "{{ metal_core_grpc_ca_cert }}"
    - filename: client.pem
      content: "{{ metal_core_grpc_client_cert }}"
    - filename: client-key.pem
      content: "{{ metal_core_grpc_client_key }}"
  loop_control:
    label: "{{ item.filename }}"
  register: grpc_certs

- name: deploy metal-core
  include_role:
    name: ansible-common/roles/systemd-docker-service
  vars:
    systemd_service_name: metal-core
    systemd_docker_image_name: "{{ metal_core_image_name }}"
    systemd_docker_image_tag: "{{ metal_core_image_tag }}"
    systemd_service_timeout_start_sec: 60
    systemd_docker_cpu_period: 50000
    systemd_docker_cpu_quota: 10000
    systemd_docker_memory: 1024m
    # metal-core needs to figure out the switch ports, this is only possible from host network
    systemd_docker_network: host
    systemd_docker_volumes: "{{ lookup('template', 'metal-core-volumes.j2') | from_yaml }}"
    systemd_docker_cap_add:
      - sys_admin
      - net_admin
    systemd_service_environment: "{{ lookup('template', 'metal-core-env.j2') | from_yaml }}"
    systemd_external_config_changed: "{{ grpc_certs is changed }}"
    systemd_service_after: "{{ metal_core_service_dependency }}"
    systemd_service_wants: "{{ metal_core_service_dependency }}"

- name: wait for metal-core to listen on metrics port
  wait_for:
    port: 2112
    timeout: 300
    msg: "metal-core did not come up"

- name: create metal-core.timer for delayed startup of metal-core after boot
  copy:
    src: metal-core.timer
    dest: /etc/systemd/system/metal-core.timer
    owner: root
    group: root
    mode: "0644"

- name: Enable the timer
  systemd:
    daemon_reload: true
    name: metal-core.timer
    enabled: true

- name: Disable the service so the timer can function
  systemd:
    name: metal-core.service
    enabled: false
