---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vector-goflow2-ifindex-csv
  namespace: "{{ sflow_collector_namespace }}"
  labels:
    app: vector-goflow2
data:
  ifindex.csv: |
    {{ lookup('file', role_path + '/templates/enrichment/ifindex.csv') | indent(4) }}
