discovery.docker "docker" {
	host             = "unix:///var/run/docker.sock"
	refresh_interval = "5s"
}

discovery.relabel "docker" {
	targets = []

	rule {
		source_labels = ["__meta_docker_container_name"]
		regex         = "/(.*)"
		target_label  = "container"
	}

	rule {
		target_label = "node_name"
		replacement  = "{{ inventory_hostname }}"
	}

	rule {
		target_label = "job"
		replacement  = "docker"
	}

	rule {
		target_label = "partition"
		replacement  = "{{ metal_partition_id }}"
	}
}

loki.source.docker "docker" {
	host             = "unix:///var/run/docker.sock"
	targets          = discovery.docker.docker.targets
	forward_to       = [loki.write.default.receiver]
	relabel_rules    = discovery.relabel.docker.rules
	refresh_interval = "5s"
}
