local.file_match "syslog" {
	path_targets = [{
		__path__  = "/var/log/syslog",
		job       = "syslog",
		partition = "{{ metal_partition_id }}",
		host      = "{{ inventory_hostname }}",
	}]
}

loki.source.file "syslog" {
	targets               = local.file_match.syslog.targets
	forward_to            = [loki.write.default.receiver]
	// can be removed after migration is complete, as alloy will convert it to a new internal format and continue to update it
	// https://grafana.com/docs/alloy/latest/reference/components/loki/loki.source.file/#arguments
	legacy_positions_file = "{{ alloy_promtail_positions_file }}"
}
