apiVersion: core.gardener.cloud/v1beta1
kind: Project
metadata:
  name: "{{ _config.name }}"
  labels:
    gardener.cloud/role: "project"
    project.gardener.cloud/name: "{{ _config.name }}"
spec:
  namespace: "{{ _config.namespace }}"
{% if _config.protected_toleration %}
  tolerations:
    defaults:
      - key: seed.gardener.cloud/protected
    whitelist:
      - key: seed.gardener.cloud/protected
{% endif %}
  owner:
    apiGroup: rbac.authorization.k8s.io
    kind: User
    name: "{{ _config.owner }}"
  members:
    - apiGroup: rbac.authorization.k8s.io
      kind: User
      name: "{{ _config.owner }}"
      role: admin
      roles:
        - owner
{% for member in _config.members %}
    - apiGroup: rbac.authorization.k8s.io
      kind: "{{ member.kind | default('User') }}"
      name: "{{ member.name }}"
      role: "{{ member.role }}"
{% if member.roles is defined %}
      roles:
{% for role in member.roles %}
        - "{{ role }}"
{% endfor %}
{% endif %}
{% endfor %}
