---
image_cache_intercept_domains:
  - images.metal-stack.io
  - github.com

image_cache_kernel_cache_enabled: true
image_cache_kernel_route_prefix: "/metal-stack/kernel"
image_cache_boot_image_cache_enabled: true
image_cache_boot_image_route_prefix: "/metal-stack/metal-hammer"

image_cache_external_dns_servers:
  - name: google
    ip: 8.8.8.8
  - name: cloudflare01
    ip: 1.1.1.1
  - name: cloudflare02
    ip: 1.0.0.1

image_cache_backend_hosts: "{{ play_hosts }}"

# coredns
image_cache_coredns_host_dir_path: /coredns
image_cache_coredns_docker_log_driver: json-file
image_cache_coredns_docker_network_host: false

# haproxy
image_cache_haproxy_host_dir_path: /haproxy
image_cache_haproxy_docker_log_driver: json-file
image_cache_haproxy_docker_network_host: false

# image-sync
image_cache_sync_max_cache_size: 100G
image_cache_sync_max_images_per_name: -1
image_cache_sync_min_images_per_name: 4
image_cache_sync_expiration_grace_period: 0
image_cache_sync_metal_api_endpoint: "{{ metal_partition_metal_api_protocol }}://{{ metal_partition_metal_api_addr }}:{{ metal_partition_metal_api_port }}{{ metal_partition_metal_api_basepath }}"
image_cache_sync_metal_api_view_hmac:
image_cache_sync_schedule: "*/10 * * * *"
image_cache_sync_host_path: /metal-image-cache-sync
image_cache_sync_port: 9001
image_cache_sync_kernel_port: 9002
image_cache_sync_boot_image_port: 9003
image_cache_sync_excludes:
  - "/pull_requests/"
image_cache_sync_docker_log_driver: json-file

# the backup server must be reachable over https and have a valid certificate
# you can only have a single fallback server, thus it does not make sense to
# spread images across too many locations
image_cache_haproxy_fallback_backend_server: images.metal-stack.io
image_cache_haproxy_fallback_backend_server_health_endpoint: /
image_cache_haproxy_kernel_fallback_backend_server: github.com
image_cache_haproxy_kernel_fallback_backend_server_health_endpoint: /
image_cache_haproxy_boot_image_fallback_backend_server: github.com
image_cache_haproxy_boot_image_fallback_backend_server_health_endpoint: /
image_cache_sync_docker_network_host: false