apiVersion: core.gardener.cloud/v1beta1
kind: Shoot
metadata:
  name: "{{ gardener_managed_seed.name }}"
  namespace: garden
  annotations:
      shoot.gardener.cloud/managed-seed-api-server: "{{ true | managed_seed_annotation(api_server=gardener_managed_seed.api_server) }}"
      cluster.metal-stack.io/name: "{{ gardener_managed_seed.name }}"
      cluster.metal-stack.io/project: "{{ gardener_managed_seed.project_id }}"
      cluster.metal-stack.io/tenant: "{{ metal_control_plane_provider_tenant }}"
      cluster.metal-stack.io/partition: "{{ gardener_managed_seed.partition }}"
spec:
  seedName: "{{ gardener_managed_seed.seed_name }}"
  secretBindingName: "{{ gardener_managed_seed.name }}-provider-secret"
  cloudProfileName: metal
  region: "{{ gardener_managed_seed.region }}"
  purpose: infrastructure
  tolerations:
    - key: seed.gardener.cloud/protected
  addons:
    kubernetes-dashboard:
      enabled: false
    nginx-ingress:
      enabled: false
{% if 'high_availability_control_plane' in gardener_managed_seed %}
  controlPlane:
    highAvailability:
      failureTolerance:
        type: {{ gardener_managed_seed.high_availability_control_plane }}
{% endif %}
  kubernetes:
    version: "{{ gardener_managed_seed.k8s_version }}"
    kubelet:
      maxPods: {{ gardener_managed_seed.max_pods | default(250) }}
    kubeControllerManager:
      nodeCIDRMaskSize: {{ gardener_managed_seed.node_cidr_mask_size | default(23) }}
    verticalPodAutoscaler:
      enabled: {{ gardener_managed_seed.vertical_pod_autoscaler | default(true) }}
  provider:
    type: metal
    workers:
{% for worker_group in gardener_managed_seed.worker_groups %}
    - name: "{{ worker_group.name | default('group-cri-' + loop.index0 | string) }}"
      cri:
        name: {{ worker_group.worker_cri | default("containerd") }}
{% if 'k8s_version' in worker_group %}
      kubernetes:
        version: "{{ worker_group.k8s_version }}"
{% endif %}
      maximum: {{ worker_group.worker_count }}
      minimum: {{ worker_group.worker_count }}
      maxSurge: {{ worker_group.worker_max_surge }}
      maxUnavailable: {{ worker_group.worker_max_unavailable }}
      machine:
        type: "{{ worker_group.worker_size }}"
        image: {{ worker_group.worker_image | to_json }}
{% endfor %}
    infrastructureConfig:
      apiVersion: metal.provider.extensions.gardener.cloud/v1alpha1
      kind: InfrastructureConfig
      firewall:
        image: "{{ gardener_managed_seed.firewall_image }}"
        size: "{{ gardener_managed_seed.firewall_size }}"
        networks: {{ gardener_managed_seed.networks | to_json }}
{% if gardener_managed_seed.firewall_controller_version is defined %}
        controllerVersion: "{{ gardener_managed_seed.firewall_controller_version }}"
{% endif %}
      projectID: "{{ gardener_managed_seed.project_id }}"
      partitionID: "{{ gardener_managed_seed.partition }}"
    controlPlaneConfig:
      apiVersion: metal.provider.extensions.gardener.cloud/v1alpha1
      kind: ControlPlaneConfig
{% if 'storage_class_name' in gardener_managed_seed %}
      customDefaultStorageClass:
        className: {{ gardener_managed_seed.storage_class_name }}
{% endif %}
      featureGates: {{ gardener_managed_seed.feature_gates | to_json }}
  networking:
    type: calico
    pods: {{ gardener_managed_seed.pod_cidr }}
    services: {{ gardener_managed_seed.service_cidr }}
    providerConfig:
      apiVersion: calico.networking.extensions.gardener.cloud/v1alpha1
      kind: NetworkConfig
      backend: none
      ipv4:
        mode: Never
      typha:
        enabled: false
  maintenance:
    timeWindow:
      begin: 220000+0100
      end: 230000+0100
    autoUpdate:
      kubernetesVersion: false
      machineImageVersion: false
