- "grpc"
{% if pixiecore_debug %}
- "--debug"
{% endif %}
- "--dhcp-no-bind"
- "--port={{ pixiecore_api_port }}"
- "--hostname={{ pixiecore_api_host }}"
- "--pixie-api-url={{ pixiecore_api_host }}:{{ pixiecore_api_port }}/certs"
- "--metal-apiserver-url={{ pixiecore_metal_apiserver_url }}"
- "--metal-apiserver-token-path={{ pixiecore_metal_apiserver_token_path }}"
- "--partition={{ pixiecore_partition_id }}"
{% if pixiecore_metal_hammer_logging_endpoint %}
- "--metal-hammer-logging-endpoint={{ pixiecore_metal_hammer_logging_endpoint }}"
{% endif %}
{% if pixiecore_metal_hammer_logging_user %}
- "--metal-hammer-logging-user={{ pixiecore_metal_hammer_logging_user }}"
{% endif %}
{% if pixiecore_metal_hammer_logging_password %}
- "--metal-hammer-logging-password={{ pixiecore_metal_hammer_logging_password }}"
{% endif %}
{% if pixiecore_metal_hammer_logging_cert and pixiecore_metal_hammer_logging_key %}
- "--metal-hammer-logging-cert=/certs/grpc/logging-client.crt"
- "--metal-hammer-logging-key=/certs/grpc/logging-client.key"
{% endif %}
{% if pixiecore_metal_hammer_logging_tls_insecure %}
- "--metal-hammer-logging-tls-insecure={{ pixiecore_metal_hammer_logging_tls_insecure | lower }}"
{% endif %}
{% if pixiecore_metal_hammer_ntp_servers %}
- "--ntp-servers={{ pixiecore_metal_hammer_ntp_servers | join(',') }}"
{% endif %}