---
gardener_image_vector_overwrite:
gardener_component_image_vector_overwrite:

gardener_apiserver_replicas: 1
gardener_apiserver_vpa: true
gardener_apiserver_feature_gates: {}
gardener_apiserver_shoot_kubeconfig_max_expiration: "8760h"

gardener_apiserver_resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 400m
    memory: 1Gi

gardener_controller_manager_resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    cpu: 750m
    memory: 512Mi

gardener_scheduler_resources:
  requests:
    cpu: 50m
    memory: 50Mi
  limits:
    cpu: 300m
    memory: 256Mi

gardener_dns_domain:
gardener_dns_provider:

gardener_backup_infrastructure:
  # provider: gcp
  # region:
  # secretRef:
  #  name: backup-secret
  #  namespace: garden
  # bucket:
  #
  # provider: S3
  # endpoint: "{{ gardener_backup_infrastructure_secret.endpoint | b64decode }}"
  # accessKeyID: "{{ gardener_backup_infrastructure_secret.accessKeyID | b64decode }}"
  # secretAccessKey: "{{ gardener_backup_infrastructure_secret.secretAccessKey | b64decode}}"

gardener_backup_infrastructure_secret:
  # for gcp:
  # serviceaccount.json: "{{ gardener_backup_infrastructure_service_account_json | b64encode }}"
  #
  # for S3:
  # endpoint:
  # accessKeyID:
  # secretAccessKey:

gardener_soil_name: "{{ metal_control_plane_stage_name }}"
gardener_soil_kubeconfig_file_path: "{{ lookup('env', 'KUBECONFIG') }}"
gardener_soil_vertical_pod_autoscaler_enabled: false
gardener_soil_project_owner_name: admin
gardener_soil_project_members: []

gardener_gardenlet_shoot_concurrent_syncs: 20
gardener_gardenlet_shoot_reconcile_in_maintenance_only: false
gardener_gardenlet_shoot_respect_sync_period_overwrite: true

gardener_gardenlet_feature_gates:
  HVPA: false
  HVPAForShootedSeed: false

gardener_shooted_seeds: []
# - name: shoot-1
#   project_id: 00000000-0000-0000-0000-000000000001
#   feature_gates:
#     clusterAudit: false
#     auditToSplunk: false
#   region: region
#   partition: partition
#   networks:
#     - internet
#     - e77400fe-e993-47b1-a0dd-64c9b7457b76
#   k8s_version: 1.23.4
#   worker_groups:
#   - worker_count: 1
#     worker_size: size
#     worker_cri: containerd
#     worker_max_surge: 3
#     worker_max_unavailable: 0
#     worker_image:
#       name: debian
#       version: "10.0"
#   firewall_size: size
#   firewall_image: firewall-ubuntu
#   firewall_controller_version: auto
#   api_server:
#     autoscaler:
#       min_replicas: 1
#       max_replicas: 5
#   verticalPodAutoscaler: false
#   pod_cidr:
#   service_cidr:
#   # possible values are zone and node, please refer to the gardener documentation to what is appropriate for your environment:
#   # https://gardener.cloud/docs/guides/high-availability/control-plane/
#   high_availability_control_plane: node

gardener_shooted_seed_max_pods: 250
gardener_shooted_seed_node_cidr_mask_size: 23
# can be useful for rollouts where the shooted seed or managed seed resource changes:
gardener_shooted_seed_rollout_delay_minutes:

gardener_kube_api_server_kubeconfig: "{{ 'garden-kube-apiserver' | kubeconfig_from_cert(gardener_kube_api_server_ca, gardener_kube_api_server_client_cert, gardener_kube_api_server_client_key, prepend_https=true) }}"
gardener_kube_apiserver_kubeconfig_path: "{{ gardener_local_tmp_dir }}/garden-kube-apiserver-kubeconfig"
gardener_local_tmp_dir: "{{ playbook_dir }}/.ansible/tmp"

gardener_logging_enabled: false
