[Match]
Name={{ item.svi.iface }}

[Link]
MTUBytes=9000

{% if item.svi.vrf is defined %}
[Network]
VRF={{ item.svi.vrf }}
{% endif %}

{% if item.svi.address is defined %}
[Network]
Address={{ item.svi.address }}
{% endif %}