---
- name: Create admin api token for the deployment
  block:
    - name: Wait until the metal-apiserver is running
      kubernetes.core.k8s_info:
        kind: Deployment
        name: metal-apiserver
        namespace: "{{ metal_control_plane_namespace }}"
        wait: true
        wait_sleep: 1
        wait_timeout: 60

    - name: Get metal-apiserver pods
      set_fact:
        _metal_apiserver_pod: "{{ (lookup('k8s', api_version='v1', kind='Pod', namespace=metal_control_plane_namespace, label_selector='app=metal-apiserver') | list_wrap)[0].get('metadata',
          {}).get('name') }}"

    - name: Generate deployment token
      no_log: true
      kubernetes.core.k8s_exec:
        namespace: "{{ metal_control_plane_namespace }}"
        pod: "{{ _metal_apiserver_pod }}"
        command: |
          /server token
            --description=ansible-ci-deployment
            --admin-role={{ metal_deployment_token_admin_role }}
            --expiration={{ metal_deployment_token_expiration }}
      register: _generated_token

    - name: Set deployment token
      set_fact:
        metal_deployment_admin_token: "{{ _generated_token.stdout_lines[-1] }}"

  delegate_to: localhost
  run_once: true
  when: metal_deployment_admin_token is not defined
