- /etc/network/:/etc/network
- /etc/frr/:/etc/frr
- /var/run/dbus:/var/run/dbus
- /run/systemd/private:/run/systemd/private
{% if metal_core_nsq_tls_enabled %}
- "{{ metal_core_nsq_cert_dir }}:/certs/nsq:ro"
{% endif %}
{% if metal_core_consider_hosts_file_resolution %}
- /etc/nsswitch.conf:/etc/nsswitch.conf
{% endif %}
