{% if metal_stack_switch_os_is_sonic %}
- /etc/sonic/:/etc/sonic
- /var/run/redis/:/var/run/redis
{% else %}
- /etc/network/:/etc/network
- /etc/frr/:/etc/frr
- /etc/lsb-release:/etc/lsb-release:ro
{% endif %}
- /var/run/dbus:/var/run/dbus
- /run/systemd/private:/run/systemd/private
{% if metal_core_consider_hosts_file_resolution %}
- /etc/nsswitch.conf:/etc/nsswitch.conf
{% endif %}
- "{{ metal_core_grpc_cert_dir }}:/certs/grpc:ro"
{% if metal_partition_metal_core_additional_volume_mounts %}
{% for volume_mount in metal_partition_metal_core_additional_volume_mounts %}
- {{ volume_mount }}
{% endfor %}
{% endif %}