{% if sonic %}
- /etc/sonic/:/etc/sonic
{% else %}
- /etc/network/:/etc/network
- /etc/frr/:/etc/frr
{% endif %}
- /var/run/dbus:/var/run/dbus
- /run/systemd/private:/run/systemd/private
{% if metal_core_consider_hosts_file_resolution %}
- /etc/nsswitch.conf:/etc/nsswitch.conf
{% endif %}
- "{{ metal_core_grpc_cert_dir }}:/certs/grpc:ro"
