TZ: "{{ metal_partition_timezone }}"
METAL_CORE_LOOPBACK_IP: "{{ lo }}"
METAL_CORE_ASN: "{{ asn }}"
METAL_CORE_CIDR: "{{ metal_core_cidr }}"
METAL_CORE_PARTITION_ID: "{{ metal_partition_id }}"
METAL_CORE_RACK_ID: "{{ metal_core_rack_id }}"
METAL_CORE_BIND_ADDRESS: 0.0.0.0
METAL_CORE_SWITCH_TOPIC: "{{ metal_partition_id }}-switch"
METAL_CORE_METAL_API_IP: "{{ metal_partition_metal_api_addr }}"
METAL_CORE_METAL_API_PORT: "{{ metal_partition_metal_api_port }}"
METAL_CORE_METAL_API_PROTOCOL: "{{ metal_partition_metal_api_protocol }}"
METAL_CORE_METAL_API_BASEPATH: "{{ metal_partition_metal_api_basepath }}"
METAL_CORE_HMAC_KEY: "{{ metal_partition_metal_api_hmac_edit_key }}"
METAL_CORE_LOG_LEVEL: "{{ metal_core_log_level }}"
METAL_CORE_RECONFIGURE_SWITCH: "{{ metal_core_reconfigure_switch }}"
METAL_CORE_RECONFIGURE_SWITCH_INTERVAL: "{{ metal_core_reconfigure_switch_interval }}"
{% if metal_partition_mgmt_gateway %}
METAL_CORE_MANAGEMENT_GATEWAY: "{{ metal_partition_mgmt_gateway }}"
{% endif %}
METAL_CORE_GRPC_ADDRESS: "{{ metal_core_grpc_address }}"
METAL_CORE_GRPC_CA_CERT_FILE: "{{ metal_core_grpc_cert_dir }}/ca.pem"
METAL_CORE_GRPC_CLIENT_CERT_FILE: "{{ metal_core_grpc_cert_dir }}/client.pem"
METAL_CORE_GRPC_CLIENT_KEY_FILE: "{{ metal_core_grpc_cert_dir }}/client-key.pem"
METAL_CORE_ADDITIONAL_BRIDGE_VIDS: "{{ metal_core_additional_bridge_vids | join(',') }}"
METAL_CORE_ADDITIONAL_BRIDGE_PORTS: "{{ metal_core_additional_bridge_ports | join(',') }}"
{% if metal_core_spine_uplinks is defined %}
METAL_CORE_SPINE_UPLINKS: "{{ metal_core_spine_uplinks | join(',') }}"
{% endif %}
METAL_CORE_INTERFACES_TPL_FILE: "{{ metal_core_interfaces_tpl_file }}"
METAL_CORE_FRR_TPL_FILE: "{{ metal_core_frr_tpl_file }}"
{% if metal_core_pxe_vlan is defined %}
METAL_CORE_PXE_VLAN: "{{ metal_core_pxe_vlan }}"
{% endif %}
