---
- name: Gather release versions
  setup_yaml:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - metal_api_image_name is defined
      - metal_api_image_tag is defined
      - metal_metalctl_image_name is defined
      - metal_metalctl_image_tag is defined
      - metal_masterdata_api_image_name is defined
      - metal_masterdata_api_image_tag is defined
      - metal_masterdata_api_tls_ca is defined
      - metal_masterdata_api_tls_cert is defined
      - metal_masterdata_api_tls_cert_key is defined
      - metal_masterdata_api_tls_client_cert is defined
      - metal_masterdata_api_tls_client_key is defined
      - metal_ipam_image_name is defined
      - metal_ipam_image_tag is defined
      - metal_console_image_name is defined
      - metal_console_image_tag is defined
      - metal_helm_chart_local_path is not none or metal_helm_chart_repo is defined
      - metal_helm_chart_local_path is not none or metal_helm_chart_version is defined
      - not metal_api_s3_enabled or metal_api_s3_address is not none

- name: Create meili secret for control plane
  k8s:
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: metal-auditing-meili-api-key
        namespace: "{{ metal_control_plane_namespace }}"
      stringData:
        MEILI_MASTER_KEY: "{{ metal_auditing_meili_api_key }}"
  when: metal_auditing_meili_api_key

- name: Deploy metal control plane
  include_role:
    name: ansible-common/roles/helm-chart
  vars:
    helm_repo: "{{ metal_helm_chart_repo | default(omit) }}"
    helm_chart_version: "{{ metal_helm_chart_version | default(omit) }}"
    helm_chart_custom_folder: "{{ metal_helm_chart_local_path | default(omit) }}"
    helm_chart: "{{ './' if metal_helm_chart_local_path is not none }}metal-control-plane"
    helm_release_name: metal-control-plane
    helm_target_namespace: "{{ metal_control_plane_namespace }}"
    helm_value_file_template: metal-values.j2
    # deployment can take a while due to post install hooks, therefore increasing the timeout for this chart...
    helm_timeout: "{{ metal_helm_chart_timeout }}"
    helm_chart_inject_config_hash: yes

# for automation tests, we need to wait until all the services are ready...
- name: Wait until api is available
  uri:
    url: "{{ metal_check_api_health_endpoint }}"
    follow_redirects: safe
    status_code: 200
    validate_certs: no
  register: result
  until: result is success
  retries: 60
  delay: 10
  when: metal_check_api_available
