---
- name: deploy image-sync service
  include_role:
    name: ansible-common/roles/systemd-docker-service
  vars:
    systemd_service_name: metal-image-cache-sync
    systemd_docker_image_name: "{{ image_cache_sync_image_name }}"
    systemd_docker_image_tag: "{{ image_cache_sync_image_tag }}"
    systemd_service_environment:
      METAL_IMAGE_CACHE_SYNC_ENABLE_KERNEL_CACHE: "{{ image_cache_kernel_cache_enabled }}"
      METAL_IMAGE_CACHE_SYNC_ENABLE_BOOT_IMAGE_CACHE: "{{ image_cache_boot_image_cache_enabled }}"
      METAL_IMAGE_CACHE_SYNC_MAX_CACHE_SIZE: "{{ image_cache_sync_max_cache_size }}"
      METAL_IMAGE_CACHE_SYNC_MAX_IMAGES_PER_NAME: "{{ image_cache_sync_max_images_per_name }}"
      METAL_IMAGE_CACHE_SYNC_MIN_IMAGES_PER_NAME: "{{ image_cache_sync_min_images_per_name }}"
      METAL_IMAGE_CACHE_SYNC_METAL_API_ENDPOINT: "{{ image_cache_sync_metal_api_endpoint }}"
      METAL_IMAGE_CACHE_SYNC_METAL_API_HMAC: "{{ image_cache_sync_metal_api_view_hmac }}"
      METAL_IMAGE_CACHE_SYNC_SCHEDULE: "{{ image_cache_sync_schedule }}"
      METAL_IMAGE_CACHE_SYNC_EXCLUDES: "{{ image_cache_sync_excludes | join(',') }}"
      METAL_IMAGE_CACHE_SYNC_EXPIRATION_GRACE_PERIOD: "{{ image_cache_sync_expiration_grace_period }}"
      METAL_IMAGE_CACHE_SYNC_HTTPS_FORWARD_PROXY_DOMAINS: "{{ image_cache_intercept_domains | join(',') }}"
    systemd_docker_volumes:
      - "{{ image_cache_sync_host_path }}:/var/lib/metal-image-cache-sync"
    systemd_docker_ports: "{{ lookup('template', 'metal-image-cache-ports.j2') | from_yaml }}"
