---
- name: ensure cache directory
  ansible.builtin.file:
    path: "{{ image_cache_sync_host_path }}"
    state: directory
    mode: '0755'

- name: store token in credentials file
  ansible.builtin.copy:
    content: "{{ _token.secret }}"
    dest: "{{ image_cache_sync_host_path }}/metal-apiserver-token"
    owner: root
    group: root
    mode: '0644'
  when: '"secret" in _token'

- name: deploy image-sync service
  include_role:
    name: ansible-common/roles/systemd-docker-service
  vars:
    systemd_service_name: metal-image-cache-sync
    systemd_docker_image_name: "{{ image_cache_sync_image_name }}"
    systemd_docker_image_tag: "{{ image_cache_sync_image_tag }}"
    systemd_service_environment:
      METAL_IMAGE_CACHE_SYNC_ENABLE_KERNEL_CACHE: "{{ image_cache_kernel_cache_enabled }}"
      METAL_IMAGE_CACHE_SYNC_ENABLE_BOOT_IMAGE_CACHE: "{{ image_cache_boot_image_cache_enabled }}"
      METAL_IMAGE_CACHE_SYNC_MAX_CACHE_SIZE: "{{ image_cache_sync_max_cache_size }}"
      METAL_IMAGE_CACHE_SYNC_MAX_IMAGES_PER_NAME: "{{ image_cache_sync_max_images_per_name }}"
      METAL_IMAGE_CACHE_SYNC_MIN_IMAGES_PER_NAME: "{{ image_cache_sync_min_images_per_name }}"
      METAL_IMAGE_CACHE_SYNC_METAL_APISERVER_URL: "{{ image_cache_sync_metal_apiserver_url }}"
      METAL_IMAGE_CACHE_SYNC_METAL_APISERVER_TOKEN_PATH: "/var/lib/metal-image-cache-sync/metal-apiserver-token"
      METAL_IMAGE_CACHE_SYNC_SCHEDULE: "{{ image_cache_sync_schedule }}"
      METAL_IMAGE_CACHE_SYNC_EXCLUDES: "{{ image_cache_sync_excludes | join(',') }}"
      METAL_IMAGE_CACHE_SYNC_EXPIRATION_GRACE_PERIOD: "{{ image_cache_sync_expiration_grace_period }}"
    systemd_docker_volumes:
      - "{{ image_cache_sync_host_path }}:/var/lib/metal-image-cache-sync"
    systemd_docker_ports: "{{ lookup('template', 'metal-image-cache-ports.j2') | from_yaml }}"
    systemd_docker_log_driver: "{{ image_cache_sync_docker_log_driver }}"
