---
- name: Gather release versions
  setup_yaml:

- name: Check metal-deployment-token has run
  assert:
    fail_msg: "this role requires the metal-deployment-token role to be run before execution, check role documentation"
    quiet: yes
    that:
      - "'metal_deployment_admin_token' in hostvars['localhost']"

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - image_cache_coredns_image_tag is defined
      - image_cache_coredns_image_name is defined
      - image_cache_haproxy_image_tag is defined
      - image_cache_haproxy_image_name is defined
      - image_cache_sync_image_tag is defined
      - image_cache_sync_image_name is defined
      - image_cache_sync_metal_apiserver_url is not none
      - image_cache_sync_metal_apiserver_token is not none

- name: Create tokens
  import_tasks: token.yaml

- name: Setup CoreDNS
  import_tasks: coredns.yaml

- name: Setup image-sync
  import_tasks: image-sync.yaml

- name: Setup haproxy
  import_tasks: haproxy.yaml
