---
- name: Gather release versions
  setup_yaml:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - image_cache_coredns_image_tag is defined
      - image_cache_coredns_image_name is defined
      - image_cache_sync_image_tag is defined
      - image_cache_sync_image_name is defined
      - image_cache_sync_metal_api_endpoint is not none
      - image_cache_sync_metal_api_view_hmac is not none

- name: Setup CoreDNS
  import_tasks: coredns.yaml

- name: Setup image-sync
  import_tasks: image-sync.yaml

- name: Setup haproxy
  import_tasks: haproxy.yaml
