---
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: EnvoyProxy
metadata:
  name: custom-proxy-config
  namespace: {{ isolated_clusters_envoy_gateway_namespace }}
spec:
  telemetry:
    accessLog:
      settings:
      - matches:
        - has(request.path)
        sinks:
        - file:
            path: /dev/stdout
          type: File
  provider:
    type: Kubernetes
    kubernetes:
      envoyService:
        type: LoadBalancer
        externalTrafficPolicy: "Local"
        loadBalancerIP: "{{ isolated_clusters_envoy_gateway_load_balancer_ip }}"
        loadBalancerSourceRanges:
{{ isolated_clusters_envoy_gateway_load_balancer_source_ranges | to_nice_yaml | indent(10, true) }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
  name: envoy-gateway-class
spec:
  controllerName: gateway.envoyproxy.io/gatewayclass-controller
  parametersRef:
    group: gateway.envoyproxy.io
    kind: EnvoyProxy
    name: custom-proxy-config
    namespace: {{ isolated_clusters_envoy_gateway_namespace }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: main-gateway
  namespace: {{ isolated_clusters_envoy_gateway_namespace }}
  labels:
    app.kubernetes.io/part-of: "{{ isolated_clusters_group_label }}"
spec:
  gatewayClassName: envoy-gateway-class
  listeners:
    - name: https-registry
      protocol: HTTPS
      port: 443
      hostname: "{{ isolated_clusters_registry_fqdn }}"
      tls:
        mode: Terminate
        certificateRefs:
          - name: {{ isolated_clusters_envoy_gateway_registry_tls_secret_name }}
            namespace: {{ isolated_clusters_registry_namespace }}
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: {{ isolated_clusters_registry_namespace }}

    - name: dns-tcp
      protocol: TCP
      port: 53
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: {{ isolated_clusters_dns_namespace }}
    - name: dns-udp
      protocol: UDP
      port: 53
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: {{ isolated_clusters_dns_namespace }}

    - name: ntp-udp
      protocol: UDP
      port: 123
      allowedRoutes:
        namespaces:
          from: Selector
          selector:
            matchLabels:
              kubernetes.io/metadata.name: {{ isolated_clusters_ntp_namespace }}
---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: allow-gateway-to-read-tls-secret
  namespace: {{ isolated_clusters_registry_namespace }}
  labels:
    app.kubernetes.io/part-of: "{{ isolated_clusters_group_label }}"
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: {{ isolated_clusters_envoy_gateway_namespace }}
  to:
    - group: ""
      kind: Secret
      name: {{ isolated_clusters_envoy_gateway_registry_tls_secret_name }}
