{
  "ztp": {
    "02-user": {
      "plugin": {
        "url": "http://{{ ztp_host_dir_path }}/ztp.sh"
      }
    },
    "03-configdb-json": {
      "url": {
        "source": "http://{{ ztp_host_dir_path }}/config_db.json"
      },
      "clear-config": false
    }
  }
}
