---
- name: Gather release versions
  setup_yaml:

- name: Check mandatory variables for this role are set
  assert:
    fail_msg: "not all mandatory variables given, check role documentation"
    quiet: yes
    that:
      - masterdata_db_image_name is defined
      - masterdata_db_image_tag is defined
      - masterdata_db_backup_restore_sidecar_image_name is defined
      - masterdata_db_backup_restore_sidecar_image_tag is defined

- name: Deploy masterdata db
  include_role:
    name: metal-roles/control-plane/roles/postgres-backup-restore
  vars:
    postgres_name: "{{ masterdata_db_name }}"
    postgres_namespace: "{{ masterdata_db_namespace }}"
    postgres_image_pull_policy: "{{ masterdata_db_image_pull_policy }}"
    postgres_image_name: "{{ masterdata_db_image_name }}"
    postgres_image_tag: "{{ masterdata_db_image_tag }}"
    postgres_registry_auth_enabled: "{{ masterdata_db_registry_auth_enabled }}"
    postgres_registry_auth: "{{ masterdata_db_registry_auth }}"
    postgres_storage_size: "{{ masterdata_db_storage_size }}"
    postgres_storage_class: "{{ masterdata_db_storage_class }}"
    postgres_db: "{{ masterdata_db_db }}"
    postgres_user: "{{ masterdata_db_user }}"
    postgres_password: "{{ masterdata_db_password }}"
    postgres_max_connections: "{{ masterdata_db_max_connections }}"
    postgres_backup_restore_sidecar_image_pull_policy: "{{ masterdata_db_backup_restore_sidecar_image_pull_policy }}"
    postgres_backup_restore_sidecar_image_name: "{{ masterdata_db_backup_restore_sidecar_image_name }}"
    postgres_backup_restore_sidecar_image_tag: "{{ masterdata_db_backup_restore_sidecar_image_tag }}"
    postgres_backup_restore_sidecar_provider: "{{ masterdata_db_backup_restore_sidecar_provider }}"
    postgres_backup_restore_sidecar_backup_cron_schedule: "{{ masterdata_db_backup_restore_sidecar_backup_cron_schedule }}"
    postgres_backup_restore_sidecar_log_level: "{{ masterdata_db_backup_restore_sidecar_log_level }}"
    postgres_backup_restore_sidecar_object_prefix: "{{ masterdata_db_backup_restore_sidecar_object_prefix }}"
    postgres_backup_restore_sidecar_gcp_bucket_name: "{{ masterdata_db_backup_restore_sidecar_gcp_bucket_name }}"
    postgres_backup_restore_sidecar_gcp_backup_location: "{{ masterdata_db_backup_restore_sidecar_gcp_backup_location }}"
    postgres_backup_restore_sidecar_gcp_project_id: "{{ masterdata_db_backup_restore_sidecar_gcp_project_id }}"
    postgres_backup_restore_sidecar_gcp_serviceaccount_json: "{{ masterdata_db_backup_restore_sidecar_gcp_serviceaccount_json }}"
    postgres_resources: "{{ masterdata_db_resources }}"
