---
prometheus_port: 9090
prometheus_docker_log_driver: json-file

prometheus_scrape_interval: 30s
prometheus_evaluation_interval: 30s
prometheus_scrape_timeout: 15s

prometheus_config_host_dir: /etc/prometheus
prometheus_data_host_dir: /var/lib//prometheus

prometheus_alertmanager_target:
prometheus_alertmanager_basic_auth_username: alertmanager
prometheus_alertmanager_basic_auth_password:

prometheus_remote_write: []
  # 127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
  # ::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

prometheus_frr_exporter_targets: []
prometheus_metal_core_targets: []
prometheus_node_exporter_targets: []
prometheus_promtail_targets: []
prometheus_ping_targets: []
prometheus_ipmi_exporter_targets: []
prometheus_sonic_exporter_targets: []
prometheus_blackbox_exporter_targets: []
prometheus_lightbox_exporter_targets: []
prometheus_lightos_smart_targets: []

prometheus_hosts_content:

prometheus_blackbox_exporter_icmp_groups: []
prometheus_blackbox_exporter_metal_api_probe_url: "{{ metal_partition_metal_api_protocol }}://{{ metal_partition_metal_api_addr }}:{{ metal_partition_metal_api_port }}{{ metal_partition_metal_api_basepath }}v1/version"

prometheus_haproxy_enabled: true

prometheus_blackbox_exporter_dns: 1.1.1.1

prometheus_ipmi_exporter_allowed_cidrs: "{{ metal_bmc_allowed_cidrs | default([], '') }}"
