---
- name: Create namespace {{ isolated_clusters_dns_namespace }}
  k8s:
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ isolated_clusters_dns_namespace }}"
        labels:
          app.kubernetes.io/part-of: "{{ isolated_clusters_group_label }}"
    kubeconfig: "{{ cluster.kubeconfig }}"
    apply: true

- name: Deploy DNS service
  k8s:
    definition: "{{ lookup('template', 'dns/' + item) }}"
    namespace: "{{ isolated_clusters_dns_namespace }}"
    kubeconfig: "{{ cluster.kubeconfig }}"
    apply: true
  loop:
    - coredns-configmap.yaml
    - coredns-deployment.yaml
    - coredns-service.yaml
