---
- name: Create namespace {{ isolated_clusters_ntp_namespace }}
  k8s:
    definition:
      kind: Namespace
      metadata:
        name: "{{ isolated_clusters_ntp_namespace }}"
        labels:
          app.kubernetes.io/part-of: "{{ isolated_clusters_group_label }}"
    kubeconfig: "{{ cluster.kubeconfig }}"
    apply: true

- name: Deploy NTP service
  k8s:
    definition: "{{ lookup('template', 'ntp/' + item) }}"
    namespace: "{{ isolated_clusters_ntp_namespace }}"
    kubeconfig: "{{ cluster.kubeconfig }}"
    apply: true
  loop:
    - chrony-configmap.yaml
    - chrony-deployment.yaml
    - chrony-service.yaml
