---
# called with loop_var cluster

- name: Install nginx-ingress
  import_tasks: ingress.yaml
  when: isolated_clusters_ingress_controller_enabled | bool

- name: Install ntp
  import_tasks: ntp.yaml

- name: Install dns
  import_tasks: dns.yaml

- name: Install deployment
  import_tasks: registry.yaml

- name: Install envoy-gateway
  import_tasks: envoy-gateway.yaml
  when: isolated_clusters_envoy_gateway_enabled | bool
