images:
  etcdBackupRestore:
    tag: "{{ gardener_etcd_repo_ref }}"

{% if gardener_backup_infrastructure_secret %}
backup:
  storageContainer: {{ gardener_backup_infrastructure.bucket }}
{% if metal_control_plane_host_provider == "gcp" %}
  storageProvider: "GCS"
  gcs:
    serviceAccountJson: {{ gardener_backup_infrastructure_service_account_json | to_json }}
{% endif %}
{% endif %}

  schedule: {{ gardener_etcd_backup_schedule }}
  deltaSnapshotPeriod: {{ gardener_etcd_snapshot_period }}
  garbageCollectionPeriod: {{ gardener_etcd_garbage_collection_period }}

etcdTLS:
  caBundle: |
    {{ gardener_etcd_ca_cert | indent(width=4, first=false) }}
  crt: |
    {{ gardener_etcd_cert | indent(width=4, first=false) }}
  key: |
    {{ gardener_etcd_cert_key | indent(width=4, first=false) }}

resources:
  etcd: {{ gardener_etcd_resources | to_json }}
