images:
  etcdBackupRestore:
    tag: "{{ gardener_etcd_repo_ref }}"

{% if gardener_backup_infrastructure_secret %}
backup:
  storageContainer: {{ gardener_backup_infrastructure.bucket }}
{% if gardener_backup_infrastructure.provider == "gcp" %}
  storageProvider: "GCS"
  gcs:
    serviceAccountJson: {{ gardener_backup_infrastructure_service_account_json | to_json }}
{% elif gardener_backup_infrastructure.provider == "S3" %}
  storageProvider: "ECS"
  ecs:
    endpoint: "{{ gardener_backup_infrastructure_secret.endpoint | b64decode }}"
    accessKeyID: "{{ gardener_backup_infrastructure_secret.accessKeyID | b64decode }}"
    secretAccessKey: "{{ gardener_backup_infrastructure_secret.secretAccessKey | b64decode }}"
{% endif %}
{% endif %}

  schedule: {{ gardener_etcd_backup_schedule }}
  deltaSnapshotPeriod: {{ gardener_etcd_snapshot_period }}
  garbageCollectionPeriod: {{ gardener_etcd_garbage_collection_period }}

resources:
  etcd: {{ gardener_etcd_resources | to_json }}

tls:
  etcd:
    ca: |
      {{ gardener_etcd_ca_cert | indent(width=6, first=false) }}
    server:
      crt: |
        {{ gardener_etcd_cert | indent(width=8, first=false) }}
      key: |
        {{ gardener_etcd_cert_key | indent(width=8, first=false) }}
    client:
      crt: |
        {{ gardener_etcd_client_cert | indent(width=8, first=false) }}
      key: |
        {{ gardener_etcd_client_key | indent(width=8, first=false) }}
    peer:
      ca: |
        {{ gardener_etcd_ca_cert | indent(width=8, first=false) }}
      server:
        crt: |
          {{ gardener_etcd_cert | indent(width=10, first=false) }}
        key: |
          {{ gardener_etcd_cert_key | indent(width=10, first=false) }}
