images:
  etcdBackupRestore:
    tag: "{{ gardener_etcd_repo_ref }}"

{% if gardener_backup_infrastructure.ecs %}
backup:
  storageContainer: {{ gardener_backup_infrastructure.bucket }}
  storageProvider: "ECS"
  ecs:
    endpoint: {{ gardener_backup_infrastructure.ecs.endpoint }}
    accessKeyID: {{ gardener_backup_infrastructure.ecs.accessKeyID }}
    secretAccessKey: {{ gardener_backup_infrastructure.ecs.secretAccessKey }}
    insecureSkipVerify: {{ gardener_backup_infrastructure.ecs.insecureSkipVerify }}

  schedule: {{ gardener_etcd_backup_schedule }}
  deltaSnapshotPeriod: {{ gardener_etcd_snapshot_period }}
  garbageCollectionPeriod: {{ gardener_etcd_garbage_collection_period }}
{% endif %}

etcdTLS:
  caBundle: |
    {{ gardener_etcd_ca_cert | indent(width=4, first=false) }}
  crt: |
    {{ gardener_etcd_cert | indent(width=4, first=false) }}
  key: |
    {{ gardener_etcd_cert_key | indent(width=4, first=false) }}

resources:
  etcd: {{ gardener_etcd_resources | to_json }}
