image:
  repository: "{{ gardener_extension_provider_metal_image_name }}"
  tag: "{{ gardener_extension_provider_metal_image_tag }}"
  pullPolicy: {{ metal_control_plane_image_pull_policy }}
webhookConfig:
  serverPort: 443
kubeconfig: |
  {{ gardener_kube_api_server_kubeconfig | indent(width=2, first=false) }}
gardener:
  virtualCluster:
    # enabling this only works for gardener operator
    enabled: false
replicaCount: {{ gardener_metal_admission_replicas }}
resources: {}
vpa:
  enabled: {{ gardener_metal_admission_vpa }}
defaulter:
{% if gardener_extension_provider_metal_default_pods_cidr %}
  podsCIDR: {{ gardener_extension_provider_metal_default_pods_cidr }}
{% endif %}
{% if gardener_extension_provider_metal_default_services_cidr %}
  servicesCIDR: {{ gardener_extension_provider_metal_default_services_cidr }}
{% endif %}
