{% if gardener_extension_ontap_enabled %}
{% for secret in gardener_extension_ontap_admin_secrets %}
apiVersion: v1
kind: Secret
metadata:
  name: "{{ secret.name }}"
  namespace: garden
type: Opaque
data:
  clustername "{{ secret.clustername }}"
  username "{{ secret.username }}"
  password:"{{ secret.password }}"
  clusterIp:"{{ secret.clusterIp }}"
{% endif %}
{% endfor %}
