{% if gardener_extension_ontap_enabled %}
apiVersion: v1
kind: Secret
metadata:
  name: admin-access-ontap-cluster-a
  namespace: garden
type: Opaque
data:
  username {% gardener_extension_ontap_admin_conf_username_clusterA %}
  password: {% gardener_extension_ontap_admin_conf_password_clusterA %}
  clusterIp: {% gardener_extension_ontap_admin_conf_password_clusterA %}
---
apiVersion: v1
kind: Secret
metadata:
  name: admin-access-ontap-cluster-b
  namespace: garden
type: Opaque
data:
  username {% gardener_extension_ontap_admin_conf_username_clusterB %}
  password: {% gardener_extension_ontap_admin_conf_password_clusterB %}
  clusterIp: {% gardener_extension_ontap_admin_conf_password_clusterB %}
{% endif %}
