name: Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    container: metalstack/metal-deployment-base:latest
    steps:
      - uses: actions/checkout@v6
      - name: Test
        run: |
          make test
